/******************************************************************
Theme Name: K-BOOM
Theme URI: http://themeforest.net/item/kboom-responsive-events-music-wordpress-theme/4095577
Description: K-BOOM EVENTS AND MUSIC RESPONSIVE WORDPRESS THEME
Author: Andrei Holobut
Author URI: http://themeforest.net/user/holobest
Version: 1.0.9

******************************************************************/

@import url("library/css/main-css.css");
@import url("library/css/768.css");
@import url("library/css/320.css");
@import url("library/css/480.css");


/**** MARKS EDITS ****/

#full-width-slider {
	.	background: url('images/bg-pattern.png') repeat;
	.	display: none;
}


#home-content .one-third {
		margin-top: 10px;
		min-height: 410px;
}





