/* SITE5 WORDPRESS THEME BUTTON TYPES */

/* ------- Default Sliding Door Buttons ------- */
.button_link{
    display: inline-block;
    text-decoration: none !important;
    line-height:11px;
    font-size: 15px;
    font-family: "Open Sans", Arial, Verdana;
    font-style: normal;
    padding: 11px 15px 13px 15px;
    margin: 5px 10px 5px 0;
    -webkit-transition: all 0.2s ease,top 0ms linear;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    color: #fff;
}


.button_link.large_button{
    font-size: 18px;
    font-family: "Open Sans", Arial, Verdana;
    font-style: normal;
    padding: 14px 17px 15px 17px;
    -webkit-transition: all 0.2s ease,top 0ms linear;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.button_link:hover{text-decoration:none !important;  background: #565656; color: #fff; opacity: 1 !important;   -webkit-transition: all 0.2s ease,top 0ms linear; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; -ms-transition: all 0.2s ease; transition: all 0.2s ease;}

/* New S5 buttons styles */

.blue{
    background: #1bc4de;
}

.light_blue{
    background: #77a6ee;
}

.dark_blue{
    background: #2a61be;
}

.orange{
    background: #f7612d;
}

.light_orange{
    background: #ea6f21;
}

.dark_orange{
    background: #d73300;
}

.green{
    background: #7ab317;
}

.light_green{
    background: #85cf4a;
}

.dark_green{
    background: #03997e;
}

.red{
    background: #d90102;
}

.light_red{
    background: #ff0000;
}

.dark_red{
    background: #840000;
}

.yellow{
    background: #ffb141;
}

.light_yellow{
    background: #f7c600;
}

.dark_yellow{
    background: #ff9600;
}

.gray{
    background: #718da3;
}

.light_gray{
    background: #adaaad;
}

.dark_purple{
    background: #613d90;
}

.purple{
    background:  #7d3ae1;
}

.violet{
    background: #ed145b;
}

.crimson{
    background: #d84d5a;
}

.cyan{
    background: #4dd0d8;
}

.pink{
    background: #f96184;
}

.brown{
    background: #7c5d3b;
}

.olive{
    background: #716c4c;
}