/* SITE5 WORDPRESS THEME LAYOUTS */
.one_half
{
	width:48%;
}

.one_third
{
	width:30.66%;
}

.two_third
{
	width:65.33%;
}

.one_fourth
{
	width:22%;
}

.three_fourth
{
	width:74%;
}

.one_fifth
{
	width:16.8%;
}

.two_fifth
{
	width:37.6%;
}

.three_fifth
{
	width:58.4%;
}

.four_fifth
{
	width:67.2%;
}

.one_sixth
{
	width:13.33%;
}

.five_sixth
{
	width:82.67%;
}

.one_half,.one_third,.two_third,.three_fourth,.one_fourth,.one_fifth,.two_fifth,.three_fifth,.four_fifth,.one_sixth,.five_sixth
{
	float:left;
	margin-right:4%;
	position:relative;
}

.last
{
	clear:right;
	margin-right:0!important;
}

.clearboth
{
	clear:both;
	display:block;
	font-size:0;
	height:0;
	line-height:0;
	width:100%;
}

.divider
{
	border-top:1px solid #e8e8e8;
	margin:bottom:30px;
	min-height:25px;
	padding:bottom:30px;
	text-align:center;
	width:100%;
}

.dividermain h4
{
	background:#fff;
	display:block;
	font-family:Arial;
	font-size:10px;
	font-weight:400;
	left:45%;
	margin-top:-12px;
	min-width:150px;
	position:absolute;
	text-align:center;
}
@media only screen  and (max-width: 959px) {

.one_half img {
    max-height: 100%;
    max-width: 100%;
}

}

@media only screen and (min-width: 480px) and (max-width: 767px) {
.one_half,.one_third,.two_third,.three_fourth,.one_fourth,.one_fifth,.two_fifth,.three_fifth,.four_fifth,.one_sixth,.five_sixth{
    float:left;
    margin-right:4%;
    position:relative;
    width: 370px;
    margin-bottom: 20px;
}
}
@media only screen and (max-width: 480px) , screen and (max-device-width: 480px) {
.one_half,.one_third,.two_third,.three_fourth,.one_fourth,.one_fifth,.two_fifth,.three_fifth,.four_fifth,.one_sixth,.five_sixth{
    float:left;
    margin-right:4%;
    position:relative;
    width: 250px;
    margin-bottom: 20px;
}
}