/* SITE5 WORDPRESS THEME TABS */
ul.tabs {
	margin: 0px !important;
	padding: 0px !important;
	float: left;
	list-style: none;
	height: 31px;
}
ul.tabs li {
	float: left;
	height: 31px;
	line-height: 31px;
	bottom: 1px;
	background: #141414;
	padding:0 !important;
	overflow: hidden;
	position: relative;
	border: 1px solid #444444;
	border-radius:  0;
    border-bottom: 1px solid #444444;
	margin-right: -1px;
}
ul.tabs li a {
	text-decoration: none;
	color: #444444;
	display: block;
	padding: 0 20px;
	outline: none;
}
ul.tabs li a:hover {
	background: #444444;
    color: #fff;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  {
	background: #141414 !important;
    border-bottom: none;
}

.tab_container {
	border: 1px solid #ddd;
	border-top: none;
	clear: both;
	float: left;
	width: 100%;
	border: 1px solid #444444;
	border-radius: 0;
	background: #141414;
}
.tab_content {
    padding: 20px;
}

.tab_content h2 {
	font-weight: normal;
	padding-bottom: 10px;
	border-bottom: 1px dashed #ddd;
	font-size: 1.8em;
}
.tab_content h3 a{
	color: #FFFFFF;
}
.tab_content img {
	float: left;
	margin: 0 20px 20px 0;
	border: 1px solid #ddd;
	padding: 5px;
}