/* SITE5 WORDPRESS THEME TOGGLE */
#content article #toggle-view
{

	list-style:none;
	margin: 20px 0 0!important;
	padding-bottom:20px;
}

#content article #toggle-view li
{
	background: #141414;
	border-radius: 0;
	cursor:pointer;
	list-style:none;
	margin: 5px 0;
	padding: 3px 15px 3px 42px;
	position:relative;
}

#content article #toggle-view li h5{
    margin: 5px 0 4px 0;
}

#content article #toggle-view span
{
	color:#F60B51;
	font-size:16px;
	left:8px;
	position:absolute;
	top:7px;
}

#content article #toggle-view p
{
	display:none;
	margin:15px 0;
}

#toggle-view .toggle-indicator{
    background: url("../images/toggle/icon-plus.png") center no-repeat;
    width: 25px;
    height: 35px;
    margin-top: -7px;
    margin-left: -7px;
}

#toggle-view .toggle-indicator-plus{
    background: url("../images/toggle/icon-plus.png") center no-repeat;
    width: 25px;
    height: 35px;
    margin-top: -7px;
    margin-left: -7px;
}

#toggle-view .toggle-indicator-minus{
    background: url("../images/toggle/icon-minus.png") center no-repeat;
    width: 25px;
    height: 35px;
    margin-top: -7px;
    margin-left: -7px;
}

/*TOGGLE WIDGET */

aside #toggle-view
{

    list-style:none;
    margin: 20px 0 0!important;
    padding-bottom:20px;
}

aside #toggle-view li
{
    background: #141414;
    border-radius: 0;
    cursor:pointer;
    list-style:none;
    margin: 5px 0;
    padding: 3px 15px 3px 42px;
    position:relative;
    border: none;
}

aside #toggle-view li h5{
    margin: 5px 0 4px 0;
}

aside #toggle-view span
{
    color:#F60B51;
    font-size:16px;
    left:8px;
    position:absolute;
    top:7px;
}

aside #toggle-view p
{
    display:none;
    margin:15px 0;
}

aside .toggle-indicator{
    background: url("../images/toggle/icon-plus.png") center no-repeat;
    width: 25px;
    height: 35px;
    margin-top: -7px;
    margin-left: -7px;
}

aside .toggle-indicator-plus{
    background: url("../images/toggle/icon-plus.png") center no-repeat;
    width: 25px;
    height: 35px;
    margin-top: -7px;
    margin-left: -7px;
}

aside .toggle-indicator-minus{
    background: url("../images/toggle/icon-minus.png") center no-repeat;
    width: 25px;
    height: 35px;
    margin-top: -7px;
    margin-left: -7px;
}