/* ---------------------------------------------------------------------- */
/* DARK-RED
/*
/*
/* Accent color: #840000;

/* Page background: #FFFFFF;
/* ---------------------------------------------------------------------- */

/* ---------------------------------------------------------------------- */
/* COLORS 
/* ---------------------------------------------------------------------- */

/* ---------------------------------------------------------------------- */
/* EACH PAGE TITLE & DESCRIPTION STYLE
/* ---------------------------------------------------------------------- */

h1 span {
    color: #444444;
}

h2 span strong {
    color: #840000;
    font-weight: 300;
}

#page {
    background-color: transparent;
}

::-moz-selection {
    background-color: #840000;
    color: #fff;
}

::selection {
    background-color: #840000;
    color: #fff;
}

a:hover, a > *:hover,
.categories a:hover,
#footer .widget-container li a:hover   {
    color: #840000;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color:#fff;
}

p {
    color: #acaeae;
}

a, a > * {
    color: #840000;
    font-weight: normal;
    font-style: normal;
    font-family: 'Open Sans', 'sans-serif';
}

a.twitter-action{
    color: #888989;
}

a.twitter-action:hover {
    color: #840000;
}

.tipsy { background-image:url(images/tipsy.png); }

.tipsy-inner { background-color: #840000; }

#logo {

}

.flex-direction-nav li a:hover {
    background-color: #840000;
}

.colored,
.flex-caption h3,
.intro-page h2 strong,
#footer h4,
#copyrights a {
    color: #840000;
}

.readmore a{ border: 3px solid #840000; color: #840000; }
.readmore.large a { border: 3px solid #840000; color: #840000;}
.readmore.large a:hover {background: #840000; color: #fff;}
.button { color: #fff; border: none; background: #840000; }

#slider_container {
    border-bottom: none !important;
}

.horizontal-line{
    height: 2px;
    width: 100%;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}

.divider {
    border-top: 1px dotted #676666 !important;

}

#navigation-wrapper {
    background: #840000;
}

#access ul li.current_page_item > a,
#access ul li.current-menu-ancestor > a,
#main-navigation ul li.current-menu-item > a:hover,
#main-navigation ul li.current-menu-item > a {
    background: url("images/nav-pattern.png") repeat;
    z-index: 2;
    margin-top: 0;

}

#access ul ul li.current_page_item > a,
#access ul ul li.current-menu-ancestor > a,
#main-navigation ul ul li.current-menu-item > a:hover,
#main-navigation ul ul li.current-menu-item > a {
    background: #840000;
}

#main-navigation ul li a:hover {
    margin-top: -10px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

#main-navigation ul ul a:hover,
#main-navigation ul ul .hover > a,
#main-navigation ul ul .current > a,
#main-navigation ul ul .current > a:hover {
    background-color: #4c4c4c;
    color: #fff;
    border: 0;
}

#main-navigation ul ul a:hover, #main-navigation ul ul .hover > a, #main-navigation ul ul .current-menu-item > a, #main-navigation ul ul .current-menu-item > a:hover {
    background-color: #840000;
    color: #fff;
    border: none;
}

#responsive-main-nav-wrapper {  background: url(images/nav-menu-icon.png) no-repeat 155px 8px #fff; }
#responsive-main-nav-menu { color: #840000; }

#home-content .one-third {
    background: #840000;
    color: #fff !important;
}

.jcarousel-next, .jcarousel-prev {
    background-color: #676666;
}

.jcarousel-next:hover, .jcarousel-next:focus, .jcarousel-next:active, .jcarousel-prev:hover, .jcarousel-prev:focus, .jcarousel-prev:active {
    background-color: #840000;
    opacity: 1;
}

.jcarousel-next-disabled, .jcarousel-next-disabled:hover, .jcarousel-next-disabled:focus, .jcarousel-next-disabled:active, .jcarousel-prev-disabled, .jcarousel-prev-disabled:hover, .jcarousel-prev-disabled:focus, .jcarousel-prev-disabled:active {
    background-color: #676666;
}

.sidebarBox li:first-child {
    border-top: 1px dotted #676666;
}

.sidebarBox li {
    border-bottom: 1px dotted #676666;
}

#pagination span, #pagination a {

}

.filterable li.active a {
    background-color: #840000;
}

.filterable li a:hover {
    color: #FFF;
    background: #840000;
    box-shadow: none;
    transition: all 0.1s ease-in-out 0s;
}

.filterable li.active a {
    color: #FFF;
    background: #840000;
    box-shadow: none;
}

.hentry blockquote {
    border-bottom: 1px solid #840000;
}

#tabscontainer {
    clear: both;
}

#pagination .current  { background-color: #840000; color: #fff; opacity: 1; }
#pagination a:hover { color: #fff; background: #840000; opacity: 1; }
/* ---------------------------------------------------------------------- */
/* Audio
/* ---------------------------------------------------------------------- */
.progressW{
    background-color: #840000;
}
/* ---------------------------------------------------------------------- */
/* Blog Style Posts
/* ---------------------------------------------------------------------- */
.post-author a:hover {
    color: #840000;
}

.tags a:hover {
    color: #840000;
}

.comments-link a:hover {
    color: #840000;
}

.comment-reply-link {
    display: block;
    clear: none;
    float: right;
    font-size: 12px;
    margin-top: 15px;
    margin-left:5px;
    color: #840000;
}
.post-author {
    background: url(images/icon_author.png) no-repeat scroll  0 3px;
}

.post-date {
    background: url(images/icon_date.png) no-repeat scroll  0 4px;
}

.tags {
    background: url(images/tag_icon.png) no-repeat scroll  0 4px;
}

.comments-link {
    background: url(images/icon_comments.png) no-repeat scroll  0 4px;
}

/* ---------------------------------------------------------------------- */
/* Footer
/* ---------------------------------------------------------------------- */
#footer {
    border-top: 6px solid #840000;
}

#footer-arrow {
    background: url("images/footer-arrow.png") no-repeat;
    width: 34px;
    height: 31px;
    position: relative;
    margin: -30px 0 20px 50px;
}

#footer h4 {
    color: white;
    font-size: 16px;
}

/* ---------------------------------------------------------------------- */
/* Images
/* ---------------------------------------------------------------------- */
.portfolio-item-hover-content a.zoom {
    background-image: url("images/zoom-plus.png");
}

.portfolio-item-hover-content a.zoom:hover {
    background-image: url("images/zoom-plus.png");
    opacity: 0.6;
    transition: all 0.2s ease 0s;
}

.caddress {
    background: url("images/icons/c-address.png") no-repeat 0 -3px;
    padding: 0 0 0 30px;
}

.cphone {
    background: url("images/icons/c-phone-number.png") no-repeat 0 -2px;
    padding: 0 0 0 30px;
}

.cfax {
    background: url("images/icons/c-fax.png") no-repeat 2px 0;
    padding: 0 0 0 30px;
}

.cemail {
    background: url("images/icons/c-mail-address.png") no-repeat 0 -1px;
    padding: 0 0 0 30px;
}

.portfolio-item-hover-content .hover-options {
    display: block;
    font-style: normal;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    top: 0;
    left: 0;
    background: #fff url("images/portfolio-hover-bg.png") repeat;
    opacity: 0;
    filter: alpha(opacity:0);
    cursor: pointer;
}

.audio-buy-button{ background-color: #840000; }

ul#event-items .ticket-button .event-ticket a{ background-color: #840000; }
ul#event-items .event-date{ background: #840000; }

ul#home-event-items .ticket-button .event-ticket a{ background-color: #840000; }
ul#home-event-items .event-date{ background: #840000; }

.project-pagination .project-pagination-next a:hover {
    background-color: #840000;
    transition: background-color 0.2s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
}

.project-pagination .project-pagination-prev a:hover {
    background-color: #840000;
    transition: background-color 0.2s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
}

.widget_site5framework_contact_widget span.address {
    background-image: url("images/icons/adress.png");
}

.widget_site5framework_contact_widget span.phone {
    background-image: url("images/icons/phone-number.png");
}

.widget_site5framework_contact_widget span.email {
    background-image: url("images/icons/mail-adress.png");
}

.dropcapfancy {
    background: #840000;
    color:#FFF;
    font-family:'Terminal Dosis','Arial',sans-serif;
    font-size:22px;
    line-height:35px;
    height:35px;
    width:35px;
    border-radius:100px;
    -moz-border-radius:100px;
    -webkit-border-radius:100px;
}

.flex-direction-nav li a.next:hover{ background-color: #840000; opacity: 1; }
.flex-direction-nav li a.prev:hover{ background-color: #840000; opacity: 1; }

ul#home-blog-items .flex-direction-nav li a.next:hover{ background-color: #840000; opacity: 1; }
ul#home-blog-items .flex-direction-nav li a.prev:hover{ background-color: #840000; opacity: 1; }


/*------------------shortcodes & others----------------*/
.title-block{
    background: #840000;
}

#content article
#toggle-view .toggle-indicator{
    background-color: #840000;
}

aside .toggle-indicator{
    background-color: #840000 !important;
}

html ul.tabs li.active{
    border-top: 2px solid #840000;
    color: #840000 !important;
}

.tp-leftarrow.large	{ background-color: #840000 !important;}
.tp-rightarrow.large { background-color: #840000 !important;}
