﻿/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

h1{
    float: left;
}
/*--------------------------------------*/
/*COLUMNS*/
/*--------------------------------------*/
.container { width: 400px }
.one-half { width: 400px }
.one-third { width: 400px }
.two-third { width: 400px }
.one-fourth { width: 400px }
.three-fourth { width: 400px }

.container-block { margin: 0 auto; position: relative; width: 370px;  background: url("../images/block-pattern.png") repeat; padding: 15px;}
.one-half-block { width: 370px; padding: 15px; background: url("../images/block-pattern.png") repeat; float: left; }
.one-third-block{ width: 370px; padding: 15px; background: url("../images/block-pattern.png") repeat; float: left;}
.two-third-block{ width: 370px; padding: 15px; background: url("../images/block-pattern.png") repeat; float: left;}
.one-fourth-block{ width: 370px; padding: 15px; background: url("../images/block-pattern.png") repeat; float: left;}
.three-fourth-block{ width: 370px; padding: 15px; background: url("../images/block-pattern.png") repeat; float: left;}
/*--------------------------------------*/
/*BLOG*/
/*--------------------------------------*/
.sidebar-line-left {
    border-right: none;
}

.sidebar-line-right {
    border-left: none;
    padding-left: 0;
}

.entry-meta {
    color: #878787;
    float: left!important;
    margin: 10px 0px 0 0!important;
    text-align: left!important;
    width: 400px!important;
}

.entry-meta ul { margin: 0 }
.entry-meta li {
    list-style: none!important;
    margin: 0 10px 0 0!important;
    float: left!important;
}

.entry-body {
    float: left;
    margin: 0;
    width: 370px!important;
}

.post-meta {
    margin: 0;
    width: 370px;
    height: auto;
    display: block;
    position: relative;
}

.entry-content {
    width: 370px;
    float: right;
}

/* GALLERY Post Format*/
.post-flex-slider .flexslider{
    width: 370px;
    height: 200px;
    overflow: hidden;
    margin: 0;
}

.post-flex-slider ul.flex-direction-nav li a{
    margin-top: -135px;
}

.post-flex-slider .flexslider .slides li{
    margin-left: 0;
    height: 200px;
}

/* IMAGE Post Format*/
.image-post-format{
    width: 370px;
    height: 200px;
    position: relative;
    display: block;
    overflow: hidden;
}

/*--------------------------------------*/
/*HOMEPAGE POSTS*/
/*--------------------------------------*/
ul#home-blog-items .entry-content { width: 370px; }
ul#home-blog-items .entry-body { width: 370px; }
ul#home-blog-items .blog-post-title {
    float: left;
    width: 370px;
    height: auto;
}

ul#home-blog-items .post-meta { width: 370px;}
ul#home-blog-items .image-post-format {
    height: 200px;
    width: 370px;
    margin-right: 0;
    margin-bottom: 15px;
}
ul#home-blog-items .post-flex-slider { width: 370px; margin-bottom: 15px; }
ul#home-blog-items .post-flex-slider .flexslider { height: 200px; width: 370px; }
ul#home-blog-items .post-flex-slider ul.flex-direction-nav li a { margin-top: -120px; }
ul#home-blog-items .post-flex-slider .flexslider .slides li{
    margin-left: 0;
    height: 200px;
}
/*--------------------------------------*/
/*BODY CSS (inner-page, container, navigation, footer, copyrights,...)*/
/*--------------------------------------*/
#navigation-wrapper {
    width: 400px;
}

.page-title-heading {
    margin-top: 0;
    margin-bottom: 40px;
}

#section-top {
    width: 400px;
}

#header { height: auto }

#page {
    width: 440px;
}

.intro-page {
    width: 380px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto 35px;
}

.center-page {
   height: auto;
   width: 440px;
   margin: 0 auto;
   padding: 0px;
}

#home-content .one-third{
    margin-bottom: 20px;
    width: 360px;
}

#home-content .one-third:hover{
    margin-top: 0;
}

#home-content .one-fourth{
    margin-bottom: 30px;
}

#three-boxes-left .one-third{
    margin-bottom: 30px;
}

#navigation-wrapper {
margin-top: -2px;
}

#responsive-main-nav-menu {
    display: block;
    width: 175px;
    float: left;
    height: 30px;
    border: none;
    background: inherit;
    -webkit-appearance: none;
    -o-appearance: none;
}

#responsive-main-nav-wrapper {
    display: block;
    width: 150px;
    float: left;
    margin-top: 9px;
    height: 30px;
    position: relative;
    background-position: 125px 8px !important;
    overflow: hidden;
    background-color: #fff;
}

#navigation-wrapper #main-navigation ul {   display: none }
#logo-wrapper {
   margin-top: -12px;
   width: auto;
   height: auto;
   text-align:center;
}

.view-portfolio-button {
    padding: 10px 20px;
    font-size: 12px;
}

ul#projects-carousel li { width: 370px }
ul#projects-carousel li .item-content { width: 370px;}
.carousel-hover-title { position: absolute; padding: 0; font-size: 12px; height: auto; width: 100%; bottom: 35px; z-index: 1000; display: block; }
.portfolio-item-hover-content a.zoom { margin-top: 5%; left: 44% }
.jcarousel-container { max-width: 400px; }
.portfolio-item-holder { height: 340px;}

.jcarousel-next,
.jcarousel-prev {
    cursor: pointer;
    height: 17px;
    position: absolute;
    right: -15;
    top: -61px;
    width: 17px;
    transition: background-color 0.2s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
    z-index: 100;
}

.jcarousel-prev {
    right: 5px;
}

/*--Homepage Video--*/
ul.homepage-video{ padding: 0 !important; }
ul.homepage-video .portfolio-item-holder { height: 340px;}
ul.homepage-video a.zoom.video { margin-top: -2%; }
ul.homepage-video .carousel-hover-title { bottom: 80px; }
/*---------------------------------------------------------
FOOTER
---------------------------------------------------------*/
#footer {
    width: 440px;
    padding: 30px 0px 0;
    height: auto;
    margin: 0 auto;
}

.flex-caption { display: none }
#footer-form input[type="text"],
#footer-form input[type="password"],
#footer-form input[type="email"],
#footer-form textarea,
#footer-form select {   width: 152px }
#call-to-action-panel h1 {
    font-size: 28px;
    line-height: 28px;
}

#footer-form input[type="text"],
#footer-form input[type="password"],
#footer-form input[type="email"],
#footer-form textarea,
#footer-form select {   width: 380px }
#footer .one-half,
#footer  .one-third,
#footer  .two-third,
#footer .one-fourth,
#footer  .three-fourth {
    background: url("../images/title-border.png") repeat-x  bottom;
    margin-bottom: 0;
    padding-bottom: 15px;
    padding-top: 15px;
}

#footer .one-fourth.last { border-bottom: none!important }
#footer .one-fourth.first {
    border-top: none!important;
    padding-top: 0px;
}

#copyrights {
    width: 100%;
    padding: 10px 0px 10px 0px;
    margin-left: 0px;
    float: left;
}

#social-icons ul { display: none }

#copyrights p,
#copyrights span {
    font-size: 12px;
    text-align: center;
}

#copyrights .right { float: none }
#responsive-social-wrapper {
    border: none;
    color: white;
    display: block;
    width: 51px;
    float: right;
    height: 51px;
    overflow: hidden;
    position: relative;
    background:  #393939 url("../images/share-icon.png") no-repeat center !important;
    margin-top: -9px;
}

#responsive-social-menu {
    border: none;
    color: white;
    display: block;
    width: 48px;
    float: left;
    height: 51px;
    padding: 5px;
    padding-right: 40px;
    margin-left: 0;
    position: relative;
    background: inherit;
    -webkit-appearance: none;
    -o-appearance: none;
}
/*--------------------------------------*/
/*PORTFOLIO*/
/*--------------------------------------*/

#filterable {
    display: inline;
    float: left;
    margin-bottom: 20px;
    margin-right: 0px;
}

#filterable li {
    float: left;
    margin-left: 15px;
}

.portfolio-container {
    width: 400px;
    margin-right: -20px;
    float: left;
}

ul.portfolio-items-one-fourth li { width: 178px; margin: 15px 0 0 15px; float: left; height: 245px; overflow: hidden; }
ul#portfolio-items-one-fourth { overflow: hidden; position: relative; list-style: none; margin: 0; padding: 0px 0 15px 0; }
ul#portfolio-items-one-fourth li .portfolio-item { float: left; background: #f8f9f9; width: 190px; height: auto; padding: 0; }
ul#portfolio-items-one-fourth li  .item-content { float: left; width: 178px; text-align: center; padding:  0; height: auto; }
#portfolio-items-one-fourth .description { padding-top: 10px }
ul#portfolio-items-one-fourth li .item-content:hover { }
ul#portfolio-items-one-fourth li  .item-content span { font-style: normal; }
ul#portfolio-items-one-fourth li   img { width: 100%; height: auto; padding: 0; margin: 0; }
ul.portfolio-items-one-fourth .carousel-hover-title{ position: absolute; padding: 0; font-size: 12px; height: auto; width: 100%; bottom: 5px; z-index: 1000; display: block; }
ul.portfolio-items-one-fourth .portfolio-item-hover-content a.zoom { margin-top: -2%; left: 35% !important;}

/* ---------------------------------------------------------------------- */
/*PORTFOLIO CUSTOM LAYOUT
/* ---------------------------------------------------------------------- */
ul.portfolio-items-one-fourth li.item.photo { height: 178px !important; }
ul.portfolio-items-one-third li.item.photo { height: 178px !important; }
ul.portfolio-items-one-half li.item.photo { height: 370px !important; }

ul.portfolio-items-one-third li { width: 178px; margin: 15px 0 0 15px; float: left; height: 270px; overflow: hidden; }
ul#portfolio-items-one-third .portfolio-item-holder{ height: 177px !important; }
ul#portfolio-items-one-third { overflow: hidden; position: relative; list-style: none; margin: 0; padding: 0 0 15px 0; }
ul#portfolio-items-one-third li { width: 178px; min-height: 0; height: auto;}
ul#portfolio-items-one-third li .portfolio-item { float: left; background: #f8f9f9; width: 178px; height: auto;}
ul#portfolio-items-one-third li  .item-content { float: left; width: 178px; text-align: center; padding:  0; height: auto; }
#portfolio-items-one-third .description { padding: 10px 0 10px 0; }
ul#portfolio-items-one-third li .item-content:hover { }
ul#portfolio-items-one-third li  .item-content span { font-style: normal; }
ul#portfolio-items-one-third li   img { width: 100%; height: auto; padding: 0; margin: 0; }
ul.portfolio-items-one-third .carousel-hover-title{ position: absolute; padding: 0; font-size: 12px; height: auto; width: 100%; bottom: 5px; z-index: 1000; display: block; }
ul#portfolio-items-one-third .portfolio-item-hover-content a.zoom { margin-top: -2%; left: 35% !important; }

ul.portfolio-items-one-half li { width: 370px; margin: 15px 0 0 15px; float: left; height: 416px; overflow: hidden; }
ul#portfolio-items-one-half .portfolio-item-holder{ }
ul#portfolio-items-one-half { overflow: hidden;position: relative;list-style: none;margin: 0;padding: 0 0 15px 0 ; }
ul#portfolio-items-one-half li { width:370px; min-height:180px; height:auto !important;  }
ul#portfolio-items-one-half li .portfolio-item { float:left; background:#f8f9f9;width:370px;height:auto;padding:0; }
ul#portfolio-items-one-half li  .item-content { float:left;width:370px;text-align:center;padding: 0;height:auto; }
#portfolio-items-one-half .description { padding: 10px 0 10px 0; }
ul#portfolio-items-one-half li .item-content:hover { }
ul#portfolio-items-one-half li  .item-content span { font-style:normal; }
ul#portfolio-items-one-half li   img { width:100%;height:auto;padding:0;margin:0; }
ul.portfolio-items-one-half .carousel-hover-title{ position: absolute; padding: 0; font-size: 12px; height: auto; width: 100%; bottom: 25px; z-index: 1000; display: block; }
ul#portfolio-items-one-half .portfolio-item-hover-content a.zoom { margin-top: 13%; left: 43%; }

.three-fourth .portfolio-container {
    width: 420px;
}

.portfolio-items {
    width: 420px;
    margin: 0;
}

.portfolio-items:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

.portfolio-items-not-filterable li {
    width: 190px;
    margin: 0 20px 20px 0!important;
    float: left;
    min-height: 210px!important;
    overflow: hidden;
}

.portfolio-items-not-filterable {
    width: 420px;
    margin: 0;
}

.portfolio-items-not-filterable:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

.portfolio-items-not-filterable li {
    width: 190px!important;
    margin: 0 20px 0px 0!important;
    float: left;
    height: 220px!important;
    overflow: hidden;
}

.project-pagination {
    margin-left: 25%;
    float: left;
    text-align: center;
}

.project-pagination .project-pagination-next a {
    top: -2px;
}

.project-pagination .project-pagination-prev a {
    top: -2px;
}

.page-title-heading  a.colored {
    top: -2px;
}

#filterable {
   display: inline;
   float: left;
   margin-bottom: 20px;
   margin-right: 0px;
}

 #filterable li {
    float: left;
    margin-right: 15px;
    margin-left: 0;
 }

 /*--------------------------------------*/
/*OTHER FEATURES (google maps, intro inner page, contact forms...)*/
/*--------------------------------------*/
.button-holder-2 {
    float: none!important;
    margin: 0 auto 20px auto!important;
    width: 150px;
}

.inner-page-intro h2 {   text-align: center }

#map {
    height: 175px;
    margin: 0px 0 30px -20px;
    position: relative;
    width: 440px;
}

#contact-form .error { margin: 15px 0 0 0 }
#contact-form form { margin-bottom: 0px }
#contact-form  fieldset { margin-bottom: 0px }
#contact-form  label,
#contact-form  legend,
#contact-form  strong,
#contact-form  span {
    font-weight: bold;
    font-size: 13px;
    color: #898989;
}

#contact-form input[type="checkbox"] { display: inline }
#contact-form label span,
#contact-form legend span {
    font-weight: normal;
    font-size: 13px;
    color: #444;
    line-height: 34px;
}

#contact-form input[type="text"],
#contact-form input[type="password"],
#contact-form  input[type="email"],
#contact-form textarea,
#contact-form select {
    border: 1px solid #dddddd;
    padding: 5px 10px;
    outline: none;
    overflow: hidden;
    font: 12px "Helvetica", Arial, sans-serif;
    color: #777;
    box-shadow: inset 0px 2px 4px #f3f3f3;
    -moz-box-shadow: inset 0px 2px 4px #f3f3f3;
    -webkit-box-shadow: inset 0px 2px 4px #f3f3f3;
    width: 380px;
    max-width: 100%;
    display: block;
    margin-bottom: 0px;
    background: #FFF;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#contact-form select { padding: 0 }
#contact-form  textarea {
    width: 380px;
    height: 200px;
    resize: vertical;
    margin-bottom: 10px;
}

#contact-form input[type="text"]:focus,
#contact-form input[type="password"]:focus,
#contact-form  input[type="email"]:focus,
#contact-form  textarea:focus {
    border: 1px solid #bbbbbb;
    color: #555;
    box-shadow: 0px 0px 5px #CCC,inset 0px 2px 4px #f3f3f3;
    -moz-box-shadow: 0px 0px 5px #CCC,inset 0px 2px 4px #f3f3f3;
    -webkit-box-shadow: 0px 0px 5px #CCC,inset 0px 2px 4px #f3f3f3;
}

#contactForm input[type="text"],
#contactForm input[type="password"],
#contactForm  input[type="email"] {
    width: 380px;
}

#contactForm  textarea {
    width: 380px;
}
#contact-info-wrapper{ display: none; }

.inner-page-intro h2 {
   font-size: 21px;
   line-height: 24px;
}

.inner-page-intro h1 {
   font-size: 24px;
   line-height: 20px;
   text-align: center;
}

.not-found-text {
   text-align: center;
   font-size: 64px;
}

ul.center-list li a {
   text-align: center;
   padding: 5px 2px;
}

.flexslider.loading { min-height: 150px }
.flex-direction-nav li a.next,
.flex-direction-nav li a.prev { margin-top: -123px; }
.flexslider .slides > li {display: none; position: relative; max-width: 400px !important; }

.audio-single .audiojsW .scrubberW {
    width: 190px;
}

#home-audio-player {
    width: 370px;
}

#home-audio-player .audio-single .audiojsW .scrubberW {
    width: 200px;
}
/*--------------------------------------*/
/*FEATURED CLIENTS WIDGET*/
/*--------------------------------------*/
.widget-1 {
    margin-top: 10px;
}

.widget-1 li {
    position: relative;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    height: 90px;
    width: auto;

}

.widget-1 a {
    position: relative;
    width: 88%;
    display: block;
    height: 90px;
    opacity: 0.4;
    border-collapse:collapse;
    margin: 0 auto;
}

.widget-1 a:hover {
    opacity: 5;
}

#client1 {
    border: 1px solid #e3e4e5;
    position: relative;
    width: 198px;
    display: block;
    float: left;
}

#client2 {
    border-top: 1px solid #e3e4e5;
    border-right: 1px solid #e3e4e5;
    border-bottom: 1px solid #e3e4e5;
    position: relative;
    width: 198px;
    display: block;
    float: left;
}

#client3 {
    border-top: none;
    border-left: 1px solid #e3e4e5;
    border-right: 1px solid #e3e4e5;
    border-bottom: 1px solid #e3e4e5;
    position: relative;
    width: 198px;
    display: block;
    float: left;
}
#client4 {
    border-top: none;
    border-right: 1px solid #e3e4e5;
    border-bottom: 1px solid #e3e4e5;
    position: relative;
    width: 198px;
    display: block;
    float: left;
}

#client5 {
    border-top: 1px solid #e3e4e5;
    border-right: 1px solid #e3e4e5;
    border-bottom: 1px solid #e3e4e5;
    position: relative;
    width: 176px;
    display: none;
    float: left;
}

/*---------------------------------------------------------------------------
Events Style
----------------------------------------------------------------------------*/
ul#event-items .event-venue{
    width: 200px;
    background: url("../images/venue-icon.png") no-repeat left;
    text-align: left;
    padding: 0 0 0 20px;
    float: left;

}

ul#event-items .event-time{
    width: 200px;
    background: url("../images/time-icon.png") no-repeat left;
    text-align: left;
    padding: 0 0 0 20px;
    float: left;
}

/*--------Single Event----------*/

.event-single ul#event-items .event-location{ margin-top: 10px; }
.event-single ul#event-items .ticket-button {
    left: 90px;
    margin-top: 5px;
    position: absolute;
}

/*---------------------------------------------------------------------------
Home Events Style
----------------------------------------------------------------------------*/
ul#home-event-items li.event-home-item{ width: 370px; }
ul#home-event-items .event-venue{ width: 250px; }
}


