/*		----CONTENT LIST-----

		01- RESET & CLERFIX
		02-	TYPOGRAPHY
		03- PRE HEADER CONTENT (lists, tooltip, social icons)
		04- HEADER CSS + GRID (container,logo,navigation,columns)
		05- HOME CONTENT
		06- FOOTER & COPYRIGHTS CSS
		07- HOMEPAGE LATEST ALBUMS CAROUSEL
		08- BUTTONS
		09- ELASTIC SLIDER (flex-slider)
		11- LISTS
		12- DROPCAPS
		13- ALERTS 
		14- CONTACT FORM
		15- SERVICES LAYOUTS
		16- PORTFOLIO LAYOUTS
		17- BLOG LAYOUT
		18- OTHER FEATURES LAYOUT (google maps,404 error style,pre style,blockquote style,inner page intro...)
*/


/* ---------------------------------------------------------------------- */
/* 01- 	RESET & CLEARFIX 
/* ---------------------------------------------------------------------- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,input,textarea,select { background:transparent;border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline } article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block } body { line-height:1.5 } abbr[title],dfn[title] { border-bottom:1px dotted;cursor:help } blockquote,q { quotes:none } blockquote:before,blockquote:after,q:before,q:after { content:none } del{ text-decoration:line-through } hr { background:transparent;border:0;clear:both;color:transparent;height:1px;margin:0;padding:0 } mark { font-style:italic } input,select { vertical-align:middle } ins { color:white;text-decoration:none } ol,ul { list-style:none } table { border-collapse:collapse;border-spacing:0 }
/* Clearfix */
.clear{ clear:both;display:block;height:0;overflow:hidden;visibility:hidden;width:0 }.clearfix:after { clear:both;content:' ';display:block;font-size:0;height:0;line-height:0;visibility:hidden;width:0 }* html .clearfix,:first-child+html .clearfix{ zoom:1 }

/* ---------------------------------------------------------------------- */
/* 02- 	TYPOGRAPHY 
/* ---------------------------------------------------------------------- */
body {
	background:#FFF;
	color: #959595 !important;
	font-size: 13px !important;
    font-weight: normal;
	font-family:'Open Sans', 'Verdana', sans-serif !important;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	overflow-x: hidden;
}

p,ul,ol,pre,code { margin-bottom:1em; }

a, a > * {
    color: #898989;
	text-decoration: none;
	-webkit-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
	-moz-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
	-ms-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
	-o-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
	transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
}

a.colored:hover{ text-decoration:underline; font-size: 14px; }

body p {
    font-family: 'Open Sans', Arial,'sans-serif';
    font-weight: normal;
    color: #959595 !important;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 300;
	font-variant:normal;
	white-space:normal;
	color:#fff;
	margin-bottom:15px;
	font-family:'Open Sans',Arial,Verdana,serif;
}

h1 {
    font-family: 'Open Sans','Oswald', 'Droid Sans','Arial', 'sans-serif';
    font-size: 34px;
    color: #fff;
    font-weight: 300;
    line-height: 36px;
}

h2 {
    font-family: 'Open Sans','Oswald', 'Droid Sans','Arial', 'sans-serif';
	font-size:26px;
    color: #fff;
    font-weight: 300;
	line-height:34px;
}

h3 {
    font-family: 'Open Sans','Oswald', 'Droid Sans','Arial', 'sans-serif';
    color: #fff;
    font-size: 25px;
    font-weight: 300;
	line-height:32px;
}

h4 {
    font-family: 'Open Sans','Oswald', 'Droid Sans','Arial', 'sans-serif';
	font-size:18px;
    color: #fff;
    font-weight: 300;
	line-height:24px;
}

h5 {
    font-family: 'Open Sans','Oswald', 'Droid Sans','Arial', 'sans-serif';
	font-size:14px;
    color: #fff;
    font-weight: 300;
	line-height:20px;
}

h6 {
    font-family: 'Open Sans','Oswald', 'Droid Sans','Arial', 'sans-serif';
	font-size:12px;
    color: #fff;
    font-weight: 300;
	line-height:17px;
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
	color:#fff;
	font-size:100%;
}

h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover {
	font-size:100%;
	text-decoration:none;
}

.text-align-center { text-align:center; }
.text-align-left { text-align:left; }
.text-align-right { text-align:right; }
.img-align-left { margin: 0 auto; max-width: 100%; }

.page-title-heading h2 span {
    color: #fff;
    font-family: 'Open Sans','Oswald',sans-serif,arial;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
}

.space{
    height: 20px;
    width: 100%;
    position: relative;
    float: left;
}

.tipsy {
	padding:5px;
	font-size:11px;
    font-weight: normal;
	opacity:1;
	filter: alpha(opacity=70);
	background-repeat:no-repeat;
	background-image:url(../images/tipsy.gif);
	margin-top: -95px;
}

.tipsy-inner {
	padding:5px 8px 4px 8px;
	background-color:black;
	color:#FFF;
	max-width:200px;
	text-align:center;
}

.tipsy-inner {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.tipsy-north {
	background-position:bottom center;
}

.tipsy-south {
	background-position:bottom center;
}

.tipsy-east {
	background-position:right center;
}

.tipsy-west {
	background-position: left center;
}
/*-----------------------------------------------------------*/
/*-------------------- SOCIAL ICONS --------------------------*/
/*-----------------------------------------------------------*/
#social-icons {
    position:relative;
    float: right;
    margin-top: -5px
}

ul#social-links {
    z-index: 1202;
    position: relative;
    margin: -5px 0 0 0;
}

ul#social-links li {
    float: left;
    font-size: 12px;
    width: 51px;
    height: 51px;
    text-indent: -9999px;
    display: block;
    margin-left: 3px;
}

ul#social-links li  a {
    width: 51px;
    height: 51px;
    display: block;
}

ul#social-links li  a.facebook {  background: url("../images/icons/facebook.png") top no-repeat; -webkit-transition: .3s; -moz-transition: .3s; -o-transition: .3s; transition: .3s; opacity: 0.5; }
ul#social-links li  a.twitter {  background: url("../images/icons/twitter.png") top  no-repeat;  -webkit-transition: .3s; -moz-transition: .3s; -o-transition: .3s; transition: .3s; opacity: 0.5; }
ul#social-links li  a.google {  background: url("../images/icons/google.png") top  no-repeat;  -webkit-transition: .3s; -moz-transition: .3s; -o-transition: .3s; transition: .3s; opacity: 0.5; }
ul#social-links li  a.dribbble {  background: url("../images/icons/dribbble.png") top no-repeat;  -webkit-transition: .3s; -moz-transition: .3s; -o-transition: .3s; transition: .3s; opacity: 0.5; }
ul#social-links li  a.vimeo {  background: url("../images/icons/vimeo.png") top  no-repeat;  -webkit-transition: .3s; -moz-transition: .3s; -o-transition: .3s; transition: .3s; opacity: 0.5; }
ul#social-links li  a.skype {  background: url("../images/icons/skype.png") top  no-repeat;  -webkit-transition: .3s; -moz-transition: .3s; -o-transition: .3s; transition: .3s; opacity: 0.5; }
ul#social-links li  a.rss {  background: url("../images/icons/rss.png") top  no-repeat;  -webkit-transition: .3s; -moz-transition: .3s; -o-transition: .3s; transition: .3s; opacity: 0.5; }
ul#social-links li  a.linkedin {  background: url("../images/icons/linkedin.png") top  no-repeat;  -webkit-transition: .3s; -moz-transition: .3s; -o-transition: .3s; transition: .3s; opacity: 0.5; }
ul#social-links li  a.pinterest {  background: url("../images/icons/pinterest.png") top  no-repeat;  -webkit-transition: .3s; -moz-transition: .3s; -o-transition: .3s; transition: .3s; opacity: 0.5; }
ul#social-links li  a.livejournal {  background: url("../images/icons/livejournal.png") top  no-repeat;  -webkit-transition: .3s; -moz-transition: .3s; -o-transition: .3s; transition: .3s; opacity: 0.5; }
ul#social-links li  a.tumblr {  background: url("../images/icons/tumblr.png") top  no-repeat;  -webkit-transition: .3s; -moz-transition: .3s; -o-transition: .3s; transition: .3s; opacity: 0.5; }
ul#social-links li  a.behance {  background: url("../images/icons/behance.png") top  no-repeat;  -webkit-transition: .3s; -moz-transition: .3s; -o-transition: .3s; transition: .3s; opacity: 0.5; }
ul#social-links li  a.paypal {  background: url("../images/icons/paypal.png") top  no-repeat; -webkit-transition: .3s; -moz-transition: .3s; -o-transition: .3s; transition: .3s; opacity: 0.5; }
ul#social-links li  a.instagram {  background: url("../images/icons/instagram.png") top  no-repeat;  -webkit-transition: .3s; -moz-transition: .3s; -o-transition: .3s; transition: .3s; opacity: 0.5; }
ul#social-links li  a.delicious {  background: url("../images/icons/delicious.png") top  no-repeat;  -webkit-transition: .3s; -moz-transition: .3s; -o-transition: .3s; transition: .3s; opacity: 0.5; }
ul#social-links li  a.digg {  background: url("../images/icons/digg.png") top  no-repeat;  -webkit-transition: .3s; -moz-transition: .3s; -o-transition: .3s; transition: .3s; opacity: 0.5; }
ul#social-links li  a.youtube {  background: url("../images/icons/youtube.png") top  no-repeat;  -webkit-transition: .3s; -moz-transition: .3s; -o-transition: .3s; transition: .3s; opacity: 0.5; }
ul#social-links li  a.soundcloud {  background: url("../images/icons/soundcloud.png") top  no-repeat;  -webkit-transition: .3s; -moz-transition: .3s; -o-transition: .3s; transition: .3s; opacity: 0.5; }
ul#social-links li  a.amazon {  background: url("../images/icons/amazon.png") top  no-repeat;  -webkit-transition: .3s; -moz-transition: .3s; -o-transition: .3s; transition: .3s; opacity: 0.5; }
ul#social-links li  a.beatport {  background: url("../images/icons/beatport.png") top  no-repeat;  -webkit-transition: .3s; -moz-transition: .3s; -o-transition: .3s; transition: .3s; opacity: 0.5; }
ul#social-links li  a.itunes {  background: url("../images/icons/itunes.png") top  no-repeat;  -webkit-transition: .3s; -moz-transition: .3s; -o-transition: .3s; transition: .3s; opacity: 0.5; }

ul#social-links > li a.facebook:hover { float: left; font-size: 12px; background-position: bottom; opacity: 1; margin-top: -5px; }
ul#social-links > li a.twitter:hover { float: left; font-size: 12px; background-position: bottom; opacity: 1; margin-top: -5px; }
ul#social-links > li a.google:hover { float: left; font-size: 12px; background-position: bottom; opacity: 1; margin-top: -5px; }
ul#social-links > li a.dribbble:hover { float: left; font-size: 12px; background-position: bottom; opacity: 1; margin-top: -5px; }
ul#social-links > li a.vimeo:hover { float: left; font-size: 12px; background-position: bottom; opacity: 1; margin-top: -5px; }
ul#social-links > li a.skype:hover { float: left; font-size: 12px; background-position: bottom; opacity: 1; margin-top: -5px; }
ul#social-links > li a.rss:hover { float: left; font-size: 12px; background-position: bottom; opacity: 1; margin-top: -5px; }
ul#social-links > li a.linkedin:hover { float: left; font-size: 12px; background-position: bottom; opacity: 1; margin-top: -5px; }
ul#social-links > li a.pinterest:hover { float: left; font-size: 12px; background-position: bottom; opacity: 1; margin-top: -5px; }
ul#social-links > li a.livejournal:hover { float: left; font-size: 12px; background-position: bottom; opacity: 1; margin-top: -5px; }
ul#social-links > li a.tumblr:hover { float: left; font-size: 12px; background-position: bottom; opacity: 1; margin-top: -5px; }
ul#social-links > li a.behance:hover { float: left; font-size: 12px; background-position: bottom; opacity: 1; margin-top: -5px; }
ul#social-links > li a.paypal:hover { float: left; font-size: 12px; background-position: bottom; opacity: 1; margin-top: -5px; }
ul#social-links > li a.instagram:hover { float: left; font-size: 12px; background-position: bottom; opacity: 1; margin-top: -5px; }
ul#social-links > li a.delicious:hover { float: left; font-size: 12px; background-position: bottom; opacity: 1; margin-top: -5px; }
ul#social-links > li a.digg:hover { float: left; font-size: 12px; background-position: bottom; opacity: 1; margin-top: -5px; }
ul#social-links > li a.youtube:hover { float: left; font-size: 12px; background-position: bottom; opacity: 1; margin-top: -5px; }
ul#social-links > li a.soundcloud:hover { float: left; font-size: 12px; background-position: bottom; opacity: 1; margin-top: -5px; }
ul#social-links > li a.amazon:hover { float: left; font-size: 12px; background-position: bottom; opacity: 1; margin-top: -5px; }
ul#social-links > li a.beatport:hover { float: left; font-size: 12px; background-position: bottom; opacity: 1; margin-top: -5px; }
ul#social-links > li a.itunes:hover { float: left; font-size: 12px; background-position: bottom; opacity: 1; margin-top: -5px; }

.stay-connected{
    background: url("../images/icons/stay-connected-icon.png") center no-repeat;
    float: left;
    height: 51px;
    width: 111px;
    display: block;
    opacity: 0.5;
    margin-left: 8px;
}

.stay-connected p{
    margin: 17px 0 0 13px;
    font-size: 11px;
    font-weight: 400;
    color: #fff !important;
}
/* -------------------------------------------------- */
/*04- HEADER,CONTAINER,LOGO, RESPONSIVE NAVIGATION,
/* -------------------------------------------------- */
#page {
	height:auto;
	width: 980px;
	background:#FFF;
	padding: 0;
    margin: 0 auto 20px;
}

#header {
	height:28px;
	padding: 48px 0 7px 0;
	float:left;
	width:100%;
}

#section-top {
    background: url(../images/bg-pattern.png) repeat;
    width: 940px;
    height: 130px;
    position: relative;
    margin: 50px auto 20px;
    padding: 10px 20px 10px 20px;
}

#header-wrapper {
    z-index: 100;
}

#navigation-wrapper {
    background: url(../images/bg-pattern.png) repeat;
    width: 940px;
    height: 52px;
    position: relative;
    margin: 0 auto 20px;
    padding: 18px 20px 15px 20px;
}


#content {
    padding: 25px 0 5px 0;
    font-size: 13px;
    color: #959595 !important;
}

#logo {
	float: none;
}

#logo-wrapper {
    float:left;
    width:200px;
    height:200px;
    margin-top: -12px;
}

#responsive-main-nav-menu {
	display: none;
	width: 100%;
	padding: 6px;
	font: normal normal 12px/1em 'Open Sans', Arial, Tahoma, sans-serif;
	border: 1px solid #ccc;
	color: #666;
    background: transparent;
}

.page-title-heading {
    margin-top: 20px;
    margin-bottom: 60px;
}

.container .page-title-heading h2 {
    font-weight: 300;
    font-size: 30px;
    color: #fff;
    line-height: 100%;
}

#search-wrapper-right {
    background: url("../images/nav-pattern.png") repeat;
    width:150px;
    height: auto;
    position: relative;
    display: block;
    float: right;
}

#search-wrapper-right #s {
    background: url("../images/magnifier.png")  right no-repeat;
    border-radius: 0;
    width: 90px;
    padding: 16px 45px 16px 5px;
    color: #fff !important;
    box-shadow:none;
    float: right;
}
#search-wrapper-right  ::-webkit-input-placeholder{
    color: #fff !important;
}

#search-wrapper-right  ::-o-input-placeholder{
    color: #fff !important;
}

#search-wrapper-right  ::-moz-input-placeholder{
    color: #fff !important;
}


/* -------------------------------------------------- */
/*	Columns
/* -------------------------------------------------- */
.container { margin: 0 auto;position: relative;width: 940px;}
.one-half,.one-third,.two-third,.one-fourth,.three-fourth,.one-column, .one-third-block, .three-fourth-block, .two-third-block, .one-half-block, .one-fourth-block, .container-block { float: left;margin-right: 20px;margin-bottom: 20px; }
.one-half.last,.one-third.last,.two-third.last,.one-fourth.last,.three-fourth.last, .one-fourth.widget-4, .one-fourth.widget-8, .one-fourth.widget-12, .one-third-block.last, .three-fourth-block.last, .two-third-block.last, .one-half-block.last, .one-fourth-block.last { margin-right: 0px }
.one-half { width: 460px }
.one-third { width: 300px }
.two-third { width: 620px }
.one-fourth { width: 220px }
.three-fourth { width: 700px }
.horizontal-line { width:100%;margin: 40px 0 40px 0;float:left; }

.container-block { margin: 0 auto; position: relative; width: 910px;  background: url("../images/block-pattern.png") repeat; padding: 15px;}
.one-half-block { width: 430px; padding: 15px; background: url("../images/block-pattern.png") repeat; float: left; }
.one-third-block{ width: 270px; padding: 15px; background: url("../images/block-pattern.png") repeat; float: left;}
.two-third-block{ width: 590px; padding: 15px; background: url("../images/block-pattern.png") repeat; float: left;}
.one-fourth-block{ width: 190px; padding: 15px; background: url("../images/block-pattern.png") repeat; float: left;}
.three-fourth-block{ width: 670px; padding: 15px; background: url("../images/block-pattern.png") repeat; float: left;}

.one-fourth.widget-1, .one-fourth.widget-5 , .one-fourth.widget-9  { clear:both; }

/* -------------------------------------------------- */
/*	MAVIGATION
/* -------------------------------------------------- */
.downarrowclass {
    position: absolute;
    top: 53px;
    right: 5px;
}

.rightarrowclass {
    position: absolute;
    top: 10px;
    right: 10px;
}

#main-navigation select { display: none }
#main-navigation { float: left; margin-left: -10px; }
#main-navigation > ul { margin: 0 }
#main-navigation ul li {
     list-style: none;
     float: left;
     position: relative;
}

#main-navigation li a {
    color: #fff;
    font-family: 'Open Sans','Droid Sans', 'Verdana', sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 18px 15px 18px !important;
    margin: 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    float: left;
    overflow: hidden;
    line-height: 20px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    z-index: 198;
}

#main-navigation ul  li{
    background: url("../images/vertical-line.png") no-repeat right top;
    height: 50px;
    padding: 0 10px 30px 10px;
}

#main-navigation ul li.current-menu-item > a {
    z-index: 2;
}

#main-navigation ul ul li a {
    display: block;
    float: none;
}

#main-navigation ul ul {
    /*background: url("../images/menu-drop-bg.png") 20% 0% no-repeat;*/
    padding-top: 8px;
    display: none;
    left: 0;
    margin-top: -17px;
    position: absolute;
    width: 175px;
    z-index: 99;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#main-navigation ul ul ul {
    /*background: url("../images/menu-drop-bg-2.png") 0% 50% no-repeat;*/
    padding-left: 8px;
    display: none;
    left: 0;
    position: absolute;
    width: 175px;
    z-index: 99;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#main-navigation ul ul ul  ul {
    padding-left: 8px;
    display: none;
    margin-left: 10px;
    left: 0;
    position: absolute;
    width: 175px;
    z-index: 99;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#main-navigation ul ul  li,
#main-navigation ul ul  li a {
    padding: 0;
    margin: 0;
    color: #FFF;
    font-family: "Arial", "Verdana";

}

#main-navigation ul ul li {
    background: url("../images/bg-pattern.png") repeat scroll 0 0 transparent;
    height: auto;
}

#main-navigation ul ul li a:hover {
    margin: 0;
}

#main-navigation ul ul  li {
    border-bottom: 1pt dotted #676666;
}

#main-navigation ul ul  li:last-child {
    border-bottom: none;
}

#main-navigation ul ul  li a {
    padding: 10px  !important;
    color: #888989;
}

#main-navigation ul ul li { float: none }
#main-navigation ul ul a {
    border: 0;
    color: #fff;
    display: block;
    font-size: 11px;
    font-weight: 400;
    padding: 5px 10px !important;
    text-align: left;
    margin: 0;
    text-transform: none;
}

#main-navigation ul ul a:hover,
#main-navigation ul ul .hover > a,
#main-navigation ul ul .current-menu-item > a,
#main-navigation ul ul .current-menu-item > a:hover {
    color: #fff;
    border: 0;
}

#main-navigation ul li ul {
    position: absolute;
    left: 0px;
    display: block;
    visibility: hidden;
    margin-left: 0px;
}

#navigation-wrapper {  z-index: 9999 !important;}

.downarrowclass,
.rightarrowclass {
    width:10px;
    height:8px;
    /*background:url(../images/arrow-down.png) top left no-repeat;*/
    display:inline-block;
    position: absolute;
    right: 5px;
    top: 55px
}

.rightarrowclass {
    background-image:url(../images/plus-white.png);
}

/* ---------------------------------------------------------------------- */
/* 05- HOME CONTENT
/* ---------------------------------------------------------------------- */
#white-background {
    background:url(../images/bg-pattern.png) repeat;
    max-width: 940px;
    height: auto;
    display: block;
    position: relative;
    padding: 0 20px 0 20px;
}

.intro-page strong {
    font-size: 30px;
    font-family: 'Open Sans','Oswald',sans-serif,arial;
    font-weight: normal;
    font-style: normal;
}

.intro-page h2 {
    color: #444444;
    font-size: 30px;
    font-family: 'Open Sans','Oswald',sans-serif,arial;
    font-weight: normal;
    line-height: 140%;
    margin: 0;
    letter-spacing: 0.4px;
    text-align: center;
}
/*---------home 3boxes align center--------*/
#home-content {
    margin: -115px 0 45px 0;
}

#home-content .home-content-icon {
    clear: both;
    position: relative;
    width: auto;
    height: auto;
    float: left;
    margin-right: 10px;
}

#home-content .home-content-icon .icon-center {
    position: relative;
    height: auto;
    margin: 0;
    display: block;
    padding: 0;
    width: 100%;
    float: left;
}

#home-content .one-third {
    text-align: left;
    margin-bottom: 0;
    padding: 20px;
    width: 260px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

#home-content .one-third:hover {
    margin-top: -15px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

#home-content h4 {
    margin:10px 0 20px 0;
    font-size: 25px;
    font-weight: 300;
    color: #fff;
}

#home-content p {
    font-size: 14px;
    font-weight: 400;
    color: #fff !important;
}

.readmore a {
    text-indent: -9999px;
    background: url("../images/read-more.png") no-repeat;
    width: 33px;
    height: 33px;
    float: right;
    margin-top: -20px;
}

.readmore a:hover {
    opacity: 0.7;
}
/* ---------------------------------------------------------------------- */
/* 06- 	FOOTER & COPYRIGHTS CSS
/* ---------------------------------------------------------------------- */
#footer {
    background: url('../images/bg-pattern.png') repeat;
    width: 980px;
    padding: 30px 0 0;
    margin: 0 auto;
    height: auto;
    position: relative;
}

#footer h4 {
	font-size: 18px;
	line-height: 24px;
}

#copyrights {
    width: 100%;
    padding: 15px 0 8px 0;
    margin-left: 0px;
    background: #101010;
    float:none;
    font-weight: 400;
}

#copyrights .right { float: right; }
#copyrights a:hover { text-decoration: underline }

#responsive-social-menu {
    display: none;
    width: 100%;
    padding: 6px;
    font: normal normal 12px/1em 'Open Sans', Arial, Tahoma, sans-serif;
    border: 1px solid #ccc;
    color: #666;
    background:#fff;
}

/* ---------------------------------------------------------------------- */
/* FOOTER LIST
/* ---------------------------------------------------------------------- */
#footer .textwidget{
    font-weight: 400;
}

#footer address{
    font-weight: 400;
}

#footer .widget-container ul {
    list-style-type: none;
    list-style-position: outside;
    width: 100%;
    margin-top: 0;
}

#footer .widget-container li {
    color: #898989;
    display: block;
    padding: 5px 0;
    border-bottom: 1pt dotted #676666;
}

#footer .widget-container li a { color: #aaa }
#footer .widget-container li a:hover {
    text-decoration: underline;
}

#footer .widget-container li:first-child { border-top: 1pt dotted #676666; }
/* ---------------------------------------------------------------------- */
/* FOOTER TWITTER FIELD
/* ---------------------------------------------------------------------- */
#footer .tweet { width: auto }
#footer .tweet ul {
    list-style-type: none;
    padding: 0;
    margin: 0px;
}

#footer .tweet li .tweet_text,
.block .tweet li .tweet_text {
    float: left;
    margin-bottom: 10px;
}

#footer .tweet a,
.block .tweet a {
    text-transform: none;
    display: inline;
    padding: 0px;
    font-style: italic;
    font: 12px Arial,Verdana, sans-serif;
}

#footer .tweet .tweet_time a,
.block .tweet .tweet_time a {
    text-transform: none;
    display: block;
    font-style: italic;
    font-size: 12px;
    padding: 10px 0 0 25px;
    /*background: url("../images/twitter-feed.png") left bottom  no-repeat;*/
}

#footer .tweet .tweet_time a:hover,
.block .tweet .tweet_time a :hover {   text-decoration: underline }
/* ---------------------------------------------------------------------- */
/* FOOTER CONTACT INFO
/* ---------------------------------------------------------------------- */
.widget_site5framework_contact_widget span {
    padding: 5px 0 5px 30px;
    width: 100%;
    display: block;
    font-style: normal;
}

.widget_site5framework_contact_widget span.address { background: left no-repeat }
.widget_site5framework_contact_widget span.phone  { background: left no-repeat }
.widget_site5framework_contact_widget span.email  { background: left no-repeat }

/* ---------------------------------------------------------------------- */
/* 07- HOMEPAGE PORTFOLIO CAROUSEL & PORTFOLIO ITEM  LAYOUT
/* ---------------------------------------------------------------------- */
ul#projects-carousel {
    overflow: hidden;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 25px 0 0 0;
    float: left;
    display: block;
    clear: both;
}

ul#projects-carousel li {
    float: left;
    background: transparent;
    width: 270px;
    height: auto;
    margin-right: 20px;
    margin-bottom: 0;
    padding: 0;
}

ul#projects-carousel li .item-content {
    background: #fafafa;
    float: left;
    width: 100%;
    text-align: center;
    padding: 0;
    height: auto;
}

.description {
     padding: 10px 0 10px 0;
}

.description p {
    margin: 0;
}

.carousel-hover-title {  position: absolute; padding: 0; font-size: 12px; height: auto; width: 100%; bottom: 10px; z-index: 1000; display: block; }
.carousel-hover-title span {  position: relative; padding: 0; font-size: 12px; height: auto; margin-top: 10px; z-index: 1000; display: block; }

ul#projects-carousel li .item-content h3 a {
    margin: 0;
    padding: 0;
    font-weight: 300;
    color: #FFF;
}


ul#projects-carousel li  img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.jcarousel-container {
    margin: 0;
    max-width: 300px;
    padding: 0px 0 0  0;

}

.jcarousel-clip {
    overflow: hidden;
    width: 100%;
}

.jcarousel-item {
    margin: 0 0px 30px 0;
    width: 220px;
}

.colored{
    font-style: italic;
    cursor: pointer;
    position: relative;
    right: 0;
    top: 0;
    z-index: 100;
    font-size: 14px;
}

#single-portfolio-pagination {
    position: relative;
    display: block;
    width: 50px;
    height: 17px;
    float: right;
    margin: -35px 0 0 7px;
}

.jcarousel-next,
.jcarousel-prev {
    background: url("../images/carousel-prev-next.png") 102% 60% no-repeat;
    cursor: pointer;
    height: 17px;
    position: absolute;
    right: -15px;
    top: -61px;
    width: 17px;
    transition: background-color 0.2s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
    z-index: 100;
    opacity: 0.6;
}

.jcarousel-prev {
    background: url("../images/carousel-prev-next.png") -3% 60% no-repeat;
    right: 5px;
}

.jcarousel-next:hover,
.jcarousel-next:focus,
.jcarousel-next:active,
.jcarousel-prev:hover,
.jcarousel-prev:focus,
.jcarousel-prev:active {}
.jcarousel-clip {
    overflow: hidden;
    width: 100%;
}

.jcarousel-next-disabled,
.jcarousel-next-disabled:hover,
.jcarousel-next-disabled:focus,
.jcarousel-next-disabled:active,
.jcarousel-prev-disabled,
.jcarousel-prev-disabled:hover,
.jcarousel-prev-disabled:focus,
.jcarousel-prev-disabled:active {
    background-color: #615951;
    cursor: auto;
}

.portfolio-item-hover-content,
.proj-img1 {
    position: relative;
    overflow: hidden;
}

.portfolio-item-hover-content a.zoom {
    background: url(../images/zoom-plus.png) no-repeat;
    display: inline-block;
    width: 46px;
    height: 46px;
    position: absolute;
    top: -100%;
    left: 42%;
    margin-bottom: 50%;
    z-index: 10;
    text-indent: -9999px;
}

.portfolio-item-hover-content a.zoom.photo {
    background: url(../images/zoom-photo.png) no-repeat;
}

.portfolio-item-hover-content a.zoom.photo:hover {
    background: url(../images/zoom-photo.png) no-repeat;
    opacity: 0.6;
}

.portfolio-item-hover-content a.zoom.video {
    background: url(../images/zoom-video.png) no-repeat;
}

.portfolio-item-hover-content a.zoom.video:hover {
    background: url(../images/zoom-video.png) no-repeat;
    opacity: 0.6;
}

.portfolio-item-hover-content {
    line-height: 0;
    display: block;
    background: transparent;
    z-index: 99;
}

.portfolio-item-holder {
    position: relative;
    overflow: hidden;
    height: 270px;
    margin-bottom: 0px;
}

.portfolio-item-hover-content,
.proj-img1 {
    position: relative;
    overflow: hidden;
}

.portfolio-item-hover-content .hover-options {
    display: block;
    font-style: normal;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity:0);
    cursor: pointer;
}

.audio-buy-button{
    padding: 7px 14px 7px 14px;
    margin: 13px 3px 0 0;
    width: auto;
    height: auto;
    position: relative;
    float: left;
    display: block;
    color: #fff !important;
    z-index: 100;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.audio-buy-button:hover{
    background: #565656;
}

.audio-buy-button a{
    color: #fff !important;
}

.music-genre{
    float: left;
    margin-bottom: 0;
}

.release-date{
    float: left;
    margin-right: 50px;
    margin-bottom: 0;
}

/*--Homepage Video--*/
ul.homepage-video{ padding: 0 !important; }
ul.homepage-video .portfolio-item-holder { height: 284px;}
ul.homepage-video li img {width: 110% !important;}
ul.homepage-video a.zoom.video { margin-top: -2%; }
ul.homepage-video .carousel-hover-title { bottom: 25px; }

#video-wrapper{ text-align: center; float: left; position: relative; margin: 0;}
#video-wrapper li .item-content h3 a { font-size: 25px; margin: 0; padding: 0; font-weight: 300; color: #FFF; }


/* ---------------------------------------------------------------------- */
/* 08- BUTTONS
/* ---------------------------------------------------------------------- */
.button {
    display: inline-block;
    text-decoration: none !important;
    line-height:11px;
    font-size: 15px;
    font-family: "Open Sans", Arial, Verdana;
    font-weight: 400;
    font-style: normal;
    padding: 11px 15px 11px 15px;
    margin: 5px 10px 5px 0;
    -webkit-transition: all 0.2s ease,top 0ms linear;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background: none;
    font-size: 100% !important;
}

.button:hover { -webkit-transition: all 0.2s ease,top 0ms linear; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; -ms-transition: all 0.2s ease; transition: all 0.2s ease; opacity: 1 !important; background: #565656; }




/* ---------------------------------------------------------------------- */
/* 09- ELASTIC SLIDER / FLEX SLIDER
/* ---------------------------------------------------------------------- */
#full-width-slider {
    background: url('../images/bg-pattern.png') repeat;
    max-width: 940px;
    margin: 0 auto 20px;
    padding: 20px 20px 90px 20px;
}

#full-width-slider .container {
    z-index: 1;

}

#slider_container {
    border-bottom:1px solid #E1E1E1;
    width: 100%;
}
.flex-direction-nav li a.prev,
.flex-direction-nav li a.next {
    margin-top: -242px;
}

.flexslider.loading { min-height: 350px; background: url('../images/loading.gif') no-repeat center center; }
.loading { background: url('../images/loading.gif') no-repeat center center; }


.flex-caption {
    bottom: 0;
    text-align: center;
    background: url("../images/caption-bg.png") repeat;
}

.ei-slider {
    position: relative;
    width: 100%;
    max-width: 940px;
    height: 600px;
    margin: 0 auto;
}

.ei-slider-loading {
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
    background: rgba(0,0,0,0.9);
    color: #fff;
    text-align: center;
    line-height: 600px;
}

.ei-slider-large {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.ei-slider-large li {
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.ei-slider-large li img {   width: 100% }
.ei-title {
    position: absolute;
    left: 0%;
    bottom: 0%;
    background: url("../images/caption-bg.png") repeat;
    width: 96%;
    padding: 2%;
}

.ei-title h3 {
    text-align: left;
}

.ei-slider-thumbs {
    height: 5px;
    margin: -10px   auto 0 auto;
    position: relative;
}

.ei-slider-thumbs li {
    position: relative;
    float: left;
    height: 100%;
}

.ei-slider-thumbs li.ei-slider-element {
    top: 0px;
    left: 0px;
    position: absolute;
    height: 100%;
    z-index: 10;
    text-indent: -9000px;
}

.ei-slider-thumbs li a {
    display: block;
    text-indent: -9000px;
    background: #d0d0d0;
    height: 5px;
}

.ei-slider-thumbs li a:hover {   background: #d0d0d0 }
.ei-slider-thumbs li img {
    position: absolute;
    bottom: 50px;
    opacity: 0;
    z-index: 999;
    width: 135px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.ei-slider-thumbs li:hover img {
    opacity: 1;
    bottom: 10px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
/* ---------------------------------------------------------------------- */
/* 11- 	LISTS
/* ---------------------------------------------------------------------- */
.simple-list-2,
.hentry ul {
    margin-left: 20px;
    list-style: disc outside;
}

.hentry ol {
    list-style: decimal outside;
    margin-left: 20px;
}

.simple-list-2 li,
.hentry li {}

.hentry ul,
.simple-list-2 li a { color: #ACAEAE }
.simple-list-2 li a:hover { color: #8abe11;text-decoration: underline; }
ul.center-list { text-align: center }
ul.center-list li { text-align: center;display: inline; }
ul.center-list li a {text-align: center; padding: 5px 5px; }
ul.center-list li a:hover { text-decoration: underline }
ul.dotted-list li { border-bottom: 1px dotted #bdbdbd }
ul.dotted-list li { padding: 0px 0 5px 20px }
.arrow li,.arrow-2 li,.circle li,.check li,.check-2 li,.star li,.plus li,.dash li { list-style: none; margin: 0; }
ul.dotted-list li { padding: 5px 0 5px 20px;border-bottom: 1px dotted #bdbdbd; }
/* ---------------------------------------------------------------------- */
/* 12- 	DROPCAPS
/* ---------------------------------------------------------------------- */
.dropcapsimple, .dropcapsquare, .dropcapfancy {
    float:left;
    display:inline-block;
    margin:0 10px 0 0;
    text-align:center;
}

.dropcapsimple {
    font-size:34px;
    height:34px;
    line-height:38px;
    width:30px;
    text-align:left;
    margin:0;
}

.dropcapsquare {
    font-size:28px;
    height:38px;
    line-height:38px;
    width:38px;
    margin-right:7px;
    color:#fefefe;
    background: #444444 !important;
    text-shadow:none;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

.dropcapfancy {
    background:#8abe11;
    color:#FFF;
    font-family:'Terminal Dosis','Arial',sans-serif;
    font-size:22px;
    line-height:35px;
    height:35px;
    width:35px;
    border-radius:100px;
    -moz-border-radius:100px;
    -webkit-border-radius:100px;
}

.dropcap.dark {background:#3a3a3a;color:#fff;}
.dropcap.green {background:#59a839;color:#fff;}
.dropcap.red {background:#e64135;color:#fff;}
.dropcap.blue {background:#72c2e7;	color:#fff;}
.dropcap.purple {background:#954eae;color:#fff;}
.dropcap.grey {background:#898989;color:#fff;}
.dropcap.pink {background:#f26d7d;color: #fff;}
/* ---------------------------------------------------------------------- */
/* 13- 	ALERTS
/* ---------------------------------------------------------------------- */
.simple-error,.simple-alert,.simple-notice,.simple-success,.simple-info {
	padding:0.8em;
	margin-bottom:1em;
	border:1px solid #ddd;
}

.simple-error,.simple-alert {
	background:#fbe3e4;
	border-color:#fbc2c4;
	color:#e64135;
}

.simple-notice {
	background:#fff6bf;
	color:#514721;
	border-color:#ffd324;
}

.simple-success {
	background:#e6efc2;
	color:#264409;
	border-color:#c6d880;
}

.simple-info {
	background:#d5edf8;
	color:#205791;
	border-color:#92cae4;
}

.simple-error a,.simple-alert a { color:#8a1f11; }
.simple-notice a { color:#514721; }
.simple-success a { color:#264409; }
.simple-info a { color:#205791; }
.required { color:#e64135; }
.required { color:#ed1c24; }
.error {
	color:#e64135;
	text-align:left;
	font-size:11px;
	font-style:italic;
	font-family:"Georgia", Verdana;
}

.success {
	color:#acd373;
	text-align:left;
	font-size:11px;
	font-style:italic;
	font-family:"Georgia", Verdana;
}
/* ---------------------------------------------------------------------- */
/* 14- 	CONTACT FORM
/* ---------------------------------------------------------------------- */
#contactForm .error {
    margin: 5px 0 0 0 ;
    display: none;
}
#messages .simple-success,
#messages .simple-error {
    display: none;
}

#contactForm form { margin-bottom: 0px }
#contactForm  fieldset { margin-bottom: 0px }
#contactForm  label,
#contactForm  legend,
#contactForm  strong {
    font-weight: normal;
    display: normal;
    color: #fff;
}

#contactForm input[type="checkbox"] { display: inline }
#contactForm label span,
#contactForm legend span {
    font-weight: normal;
    font-size: 13px;
    color: #444;
    line-height: 34px;
}

#contactForm input[type="text"],
#contactForm input[type="password"],
#contactForm  input[type="email"],
#contactForm textarea,
#contactForm select {
    color: #888888;
    font-size: 12px;
    padding: 5px 10px;
    outline: none;
    overflow: hidden;
    width: 420px;
    max-width: 99%;
    display: block;
    margin: 5px 0 10px 0;
    background: url("../images/block-pattern.png") repeat scroll 0 0 transparent;
    border: 1px dotted #494848;
}

#contactForm input[type="text"],
#contactForm input[type="password"],
#contactForm  input[type="email"] {
    height: 30px;
}

#contactForm select { padding: 0 }
.text-area-wrapper{ width: 100%; height: auto; position: relative; display: block; margin: 10px 0 10px 0; float: left; }
#contact-info-wrapper{ margin-top: 25px; }
#contactForm  textarea {
    padding: 10px;
    width: 920px;
    height: 150px;
    resize: vertical;
    float: left;
}

.caddress,
.cphone,
.cfax,
.cemail{
    margin-bottom: 10px;
}

.caddress strong,
.cphone strong,
.cemail strong{ }
/* ---------------------------------------------------------------------- */
/* 16-   PORTFOLIO LAYOUTS
/* ---------------------------------------------------------------------- */
.project-pagination {
    float: right;
    margin-top:0;
    height: 0;
    width: auto;
    right: 0;
    top: 0;
}

.project-pagination .project-pagination-next a {
    background: url("../images/carousel-prev-next.png") no-repeat scroll 105% 60% #676666;
    cursor: pointer;
    height: 17px;
    position: absolute;
    right: 0;
    top: -1px;
    transition: background-color 0.2s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
    width: 17px;
    opacity: 0.6;
}

.project-pagination .project-pagination-prev a {
    background: url("../images/carousel-prev-next.png") no-repeat scroll -5% 60% #676666;
    cursor: pointer;
    height: 17px;
    position: absolute;
    right: 20px;
    top: -1px;
    transition: background-color 0.2s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
    width: 17px;
    opacity: 0.6;
}

.project-pagination .project-pagination-next a:hover {
    background: url("../images/carousel-prev-next.png") no-repeat scroll 105% 60%;
    transition: background-color 0.2s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
    opacity: 1;
}

.project-pagination .project-pagination-prev a:hover {
    background: url("../images/carousel-prev-next.png") no-repeat scroll -5% 60%;
    transition: background-color 0.2s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
    opacity: 1;
}

.page-title-heading  a.colored {
    top: -1px;
    right: 0;
}

ul#portfolio-items-one-fourth {
    width: 100%;
    overflow: hidden;
    background: url("../images/block-pattern.png") repeat scroll 0 0 transparent;
    margin: 0 0 20px 0;
    position: relative;
    float: left;
    padding: 0 0 15px 0;
}


/* ---------------------------------------------------------------------- */
/*GLOBAL PORTFOLIO LAYOUTS
/* ---------------------------------------------------------------------- */
ul.portfolio-items-one-fourth li { width: 216px; margin: 15px 0 0 15px; float: left; height: 250px; overflow: hidden;}
ul#portfolio-items-one-fourth li .portfolio-item { float:left; background:#f8f9f9;width:216px;height:auto;padding:0; }
ul#portfolio-items-one-fourth .portfolio-item-holder{ height: auto; }
ul#portfolio-items-one-fourth li  .item-content { background: #fafafa; float: left; width: 216px; text-align: center; padding: 0; height: auto;}
#portfolio-items-one-fourth .description { padding: 10px 0 10px 0; font-size: 12px;  color: #444444; font-weight: 300; font-family: "open sans", sans-serif}
ul#portfolio-items-one-fourth li .item-content:hover{ }
ul#portfolio-items-one-fourth li .item-content p {margin: 2px 0 1px 0;}
ul#portfolio-items-one-fourth li .item-content h3 a { margin:0; padding: 0; font-weight: 300;  color: #fff; font-family: 'Open Sans','Oswald', 'sans-serif'; line-height: 100%; }
ul#portfolio-items-one-fourth li .item-content h3 { margin: 0; }
ul#portfolio-items-one-fourth li  .item-content span { color:#ACAEAE;  font-size: 13px; font-weight: 300;}
ul#portfolio-items-one-fourth li   img { width:100%;height:auto;padding:0;margin:0; }
ul#portfolio-items-one-fourth .audio-buy-button { color: #FFFFFF !important; display: block; float: left; height: auto; margin: 7px 3px 0 0; padding: 4px 5px; position: relative; transition: 0.3s; width: auto; z-index: 100; }
ul#portfolio-items-one-fourth .portfolio-item-hover-content a.zoom { left: 40%; }

/* ---------------------------------------------------------------------- */
/*PORTFOLIO CUSTOM LAYOUT
/* ---------------------------------------------------------------------- */
ul.portfolio-items-one-fourth li.item.photo { height: 217px !important; }
ul.portfolio-items-one-third li.item.photo { height: 290px !important; }
ul.portfolio-items-one-half li.item.photo { height: 446px !important; }


ul#portfolio-items-one-third { width: 100%; min-height: 280px; overflow: hidden; background: url("../images/block-pattern.png") repeat scroll 0 0 transparent; margin: 0 0 20px 0; position: relative; float: left; padding: 0 0 15px 0; }
ul.portfolio-items-one-third li { width: 293px; margin: 15px 0 0 15px; float: left; height: 340px; overflow: hidden; }
ul#portfolio-items-one-third { overflow: hidden;position: relative;list-style: none; padding: 0 0 15px 0; }
ul#portfolio-items-one-third li { width: 293px;}
ul#portfolio-items-one-third .portfolio-item-holder{ height: auto; }
ul#portfolio-items-one-third li .portfolio-item { float:left; background:#f8f9f9; width:293px;height:auto;padding:0; }
ul#portfolio-items-one-third li .item-content { background: #fafafa; float:left; width:293px; text-align:center; padding:0; height:auto; }
#portfolio-items-one-third  .description { padding: 15px 0 15px 0; }
ul#portfolio-items-one-third li .item-content:hover{ }
ul#portfolio-items-one-third li .item-content h3 { margin:0;}
ul#portfolio-items-one-third li .item-content h3 a { margin:0; padding: 0; font-weight: 300;  color: #fff; font-family: 'Open Sans','Oswald', 'sans-serif'; line-height: 100%; }
ul#portfolio-items-one-third li .item-content span { color:#ACAEAE;  font-size: 13px; font-weight: 300; }
ul#portfolio-items-one-third li  img { width:100%;height:auto;padding:0;margin:0; }
ul#portfolio-items-one-third .portfolio-item-hover-content a.zoom { margin-top: 11%; }

ul#portfolio-items-one-half { width: 100%; min-height: 280px; overflow: hidden; background: url("../images/block-pattern.png") repeat scroll 0 0 transparent; margin: 0 0 20px 0; position: relative; float: left; padding: 0 0 15px 0; }
ul.portfolio-items-one-half li { width: 447px; margin: 15px 0 0 15px; float: left; height: 493px; overflow: hidden; }
ul#portfolio-items-one-half { overflow: hidden;position: relative;list-style: none;padding: 0 0 15px 0; }
ul#portfolio-items-one-half li { width: 447px; min-height:310px; height: auto;}
ul#portfolio-items-one-half .portfolio-item-holder{ height: auto; }
ul#portfolio-items-one-half li .portfolio-item { float:left; background:#f8f9f9;width:447px;height:auto;padding:0; }
ul#portfolio-items-one-half li .item-content { background: #fafafa; float:left; width:447px; text-align:center; padding:0; height:auto; }
#portfolio-items-one-half  .description { padding: 15px 0 15px 0; }
ul#portfolio-items-one-half li .item-content:hover{ }
ul#portfolio-items-one-half li .item-content h3 { margin:0;}
ul#portfolio-items-one-half li .item-content h3 a { margin:0; padding: 0; font-weight: 300;  color: #fff; font-family: 'Open Sans','Oswald', 'sans-serif'; line-height: 100%; }
ul#portfolio-items-one-half li .item-content span { color:#ACAEAE;  font-size: 13px; font-weight: 300; }
ul#portfolio-items-one-half li  img { width:100%;height:auto;padding:0;margin:0; }
ul.portfolio-items-one-half .carousel-hover-title{ position: absolute; padding: 0; height: auto; width: 100%; bottom: 25px; z-index: 1000; display: block; }
ul#portfolio-items-one-half .portfolio-item-hover-content a.zoom { margin-top: 17%; left: 45%; }

.portfolio-container {
    width:940px;
    float:left;
    clear: both;
    position: relative;
}

.portfolio-items{
    width: 960px;
    margin: 0;
    position: relative;
}

.portfolio-items:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

.portfolio-items-not-filterable {
    width: 960px;
    margin: 0;
}
.portfolio-items-not-filterable:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

.portfolio-items-not-filterable li {
    width: 300px;
    margin: 0 20px 20px 0;
    float: left;
    height: 310px;
    overflow: hidden;
}

.three-fourth .portfolio-container {
    width: 720px;
}

.filterable  {
    display: inline;
    float: left;
    margin-bottom: 20px;
    margin-right:20px;

}

.filterable li {
    float: left;
    margin-right: 15px;
}

.filterable li a {
    background-color: #676666;
    color: #fff;
    transition: all 0.1s ease-in-out 0s;
    display: block;
    font: bold 11px arial;
    text-decoration: none;
    text-align: center;
    width: 100%;
    height: auto;
    padding:6px 6px;
    margin:0 0 15px 0;
    font-weight: 300;
    font-size: 14px;
    opacity: 0.6;
}

.filterable li a:hover {
    color: #FFF;
    box-shadow: none;
    transition: all 0.1s ease-in-out 0s;
    opacity: 1;
}
.filterable li.active a {
    color: #FFF;
    box-shadow: none;
    opacity: 1;
}

/* -------------------------------------------
    09. PLAYER
   ------------------------------------------- */

.audiojsW {
    background: url("../images/bar-opc.png");
    font-family: monospace;
    width: 270px;
    height: 25px;
    overflow: hidden;
    font-size: 12px;
}

.audiojsW .error-messageW {
    line-height: 36px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -icab-text-overflow: ellipsis;
    -khtml-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    float: left;
    width: 400px;
    color: #fff;
    height: 36px;
    margin: 0px 10px;
    display: none;
    overflow: hidden;
}

.audiojsW .error-messageW a {
    border-bottom: 1px solid #999;
    padding-bottom: 1px;
    text-decoration: none;
    color: #eee;
}

.audiojsW .play-pauseW {
    border-right: 1px solid #444;
    float: left;
    width: 20px;
    height: 40px;
    margin: 0;
    padding: 4px 6px;
    overflow: hidden;
}

.audiojsW .progressW {
    top: 0px;
    left: 0px;
    width: 0px;
    height: 5px;
    z-index: 1;
    position: absolute;
}

.audiojsW .scrubberW {
    margin-top: 10px;
    background: #000;
    margin-left: 10px;
    margin-right: 4px;
    float: left;
    width: 117px;
    height: 5px;
    position: relative;
    overflow: hidden;
}

.audiojsW .loadingW {
    background: url("../images/player/load-small.png") center center no-repeat;
    width: 20px;
    height: 18px;
}

.audiojsW .loadedW {
    background: #444;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 5px;
    position: absolute;
}

.audiojsW .errorW {
    background: url("../images/player/error-small.png") center center no-repeat;
    width: 20px;
    height: 18px;
}

.audiojsW .pauseW {
    background: url("../images/player/pause-small.png")  center center no-repeat;
    width: 20px;
    height: 18px;
}

.audiojsW .playW {
    background: url("../images/player/play-small.png") center center no-repeat;
    width: 20px;
    height: 18px;
}

.audiojsW .timeW {
    border-left: 1px solid #444;
    line-height: 25px;
    float: left;
    color: #fff;
    height: 25px;
    margin: 0px 0px 0px 6px;
    padding: 0px 10px 0px 8px;
    font-size: 11px;
}

.audiojsW .timeW strong {
    font-weight: normal;
    color: #888;
    padding: 0px 0px 0px 2px;
}

.audiojsW .timeW em {
    font-style: normal;
    color: #fff;
    padding: 0px 2px 0px 0px;
}

.audiojsW .playW { display: block }

.audiojsW audio {
    left: -1px;
    position: absolute;
}

.audiojsW p {
    width: 25px;
    height: 40px;
    margin: 0px;
    cursor: pointer;
    display: none;
}

.playingW .playW, .playingW .loadingW, .playingW .errorW {
    display: none;
}

.playingW .pauseW {
    display: block;
}

.loadingW .playW, .loadingZ .pauseZ, .loadingZ .errorW {
    display: none;
}

.loadingW .loadingW {
    display: block;
}

.errorW .timeW, .errorZ .playZ, .errorW .pauseW, .errorW .scrubberW, .errorW .loadingW {
    display: none;
}

.errorW .errorW {
    display: block;
}

.errorW .play-pauseW p {
    cursor: auto;
}

.errorW .error-messageW {
    display: block;
}

.audio-single .audiojsW {
    background: url("../images/bar-opc.png");
    font-family: monospace;
    width: 100%;
    height: 40px;
    overflow: hidden;
    font-size: 12px;
}

.audio-single .audiojsW .error-messageW {
    line-height: 36px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -icab-text-overflow: ellipsis;
    -khtml-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    float: left;
    width: 400px;
    color: #fff;
    height: 36px;
    margin: 0px 10px;
    display: none;
    overflow: hidden;
}

.audio-single .audiojsW .error-messageW a {
    border-bottom: 1px solid #999;
    padding-bottom: 1px;
    text-decoration: none;
    color: #eee;
}

.audio-single .audiojsW .play-pauseW {
    border-right: 1px dotted #444;
    float: left;
    width: 24px;
    height: 40px;
    margin: 0px;
    padding: 4px 6px;
    overflow: hidden;
}

.audio-single .audiojsW .scrubberW {
    margin-top: 12px;
    background: #000;
    margin-left: 12px;
    margin-right: 6px;
    float: left;
    width: 410px;
    height: 16px;
    position: relative;
    overflow: hidden;
}

.audio-single .audiojsW .progressW {
    top: 0px;
    left: 0px;
    width: 0px;
    height: 16px;
    z-index: 1;
    position: absolute;
}

.audio-single .audiojsW .loadingW {
    background: url("../images/player/load.png") center center no-repeat;
    width: 24px;
    height: 32px;
}

.audio-single .audiojsW .loadedW {
    background: #444;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 16px;
    position: absolute;
}

.audio-single .audiojsW .errorW {
    background: url("../images/player/error.png") center center no-repeat;
    width: 24px;
    height: 32px;
}

.audio-single .audiojsW .pauseW {
    background: url("../images/player/pause.png")  center center no-repeat;
    width: 24px;
    height: 32px;
}

.audio-single .audiojsW .pauseW:hover {
    opacity: 0.5;
}

.audio-single .audiojsW .playW {
    background: url("../images/player/play.png") center center no-repeat;
    width: 24px;
    height: 32px;
}

.audio-single .audiojsW .playW:hover {
    opacity: 0.5;
}

.audio-single .audiojsW .timeW {
    border-left: 1px dotted #444;
    line-height: 40px;
    float: left;
    color: #fff;
    height: 40px;
    margin: 0px 0px 0px 6px;
    padding: 1px 12px 0px 12px;
    font-size: 13px;
}

.audio-single .audiojsW .timeW strong {
    font-weight: normal;
    color: #888;
    padding: 0px 0px 0px 2px;
}

.audio-single .audiojsW .timeW em {
    font-style: normal;
    color: #fff;
    padding: 0px 2px 0px 0px;
}

.audio-single .audiojsW .playW {
    display: block
}

.audio-single .audiojsW audio {
    left: -1px;
    position: absolute;
}

.audio-single .audiojsW p {
    width: 25px;
    height: 40px;
    margin: 0px;
    cursor: pointer;
    display: none;
}

.audio-single .playingW .playW, .playingW .loadingW, .playingW .errorW {
    display: none;
}

.audio-single .playingW .pauseW {
    display: block;
}

.audio-single .loadingW .playW, .loadingZ .pauseZ, .loadingZ .errorW {
    display: none;
}

.audio-single .loadingW .loadingW {
    display: block;
}

.audio-single .errorW .timeW, .errorZ .playZ, .errorW .pauseW, .errorW .scrubberW, .errorW .loadingW {
    display: none;
}

.audio-single .errorW .errorW {
    display: block;
}

.audio-single .errorW .play-pauseW p {
    cursor: auto;
}

.audio-single .errorW .error-messageW {
    display: block;
}

.audio-single ol {
    background: url("../images/bar-opc.png");
    margin: 15px 0 0 0;
    list-style: decimal inside;
    padding: 15px 10px 15px 10px;
}

.audio-single li:first-child {
    border-top: 1pt dotted #676666;
}

.audio-single li {
    line-height: 40px;
    border-bottom: 1pt dotted #676666;
    color: #888;
    cursor: pointer;
    padding: 0px 5px 0px 15px;
    position: relative;
    font-size: 16px;
    opacity: 0.5;
}

.audio-single li a {
    color: #fff;
}

.audio-single li:hover{
    opacity: 1;
}

.audio-single li.playing {
    opacity: 1;
}

.audio-single li.playing:before {
    top: 4px;
    right: 0px;
    width: 32px;
    height: 32px;
    content: url("../images/player/song.png");
    position: absolute;
}

.audio-single li.playing a {
    color: #fff;
}


.me-cannotplay{
    display: none;
}

.mejs-container{
    display: none;
}

.audio-single .fluid-width-video-wrapper{
    display: none;
}
/* -------------------------------------------
HOMEPAGE PLAYER
------------------------------------------- */
#home-audio-player{
    width: 270px;

}
#home-audio-player .audio-single .audiojsW .scrubberW {
    width: 100px;
    height: 10px;
}

#home-audio-player .audio-single .audiojsW {
    height: 34px;
}

#home-audio-player .audio-single ol {
    margin-top: 17px;
}

#home-audio-player .audio-single .audiojsW .timeW {
    height: 38px;
}

#home-audio-player .audio-single li {
    line-height: 38px;
    border-bottom: 1pt dotted #676666;
    color: #888;
    cursor: pointer;
    padding: 0px 5px 0px 15px;
    position: relative;
    font-size: 13px;
    opacity: 0.5;
}

#home-audio-player .audio-single li:hover {
    opacity: 1;
}

#home-audio-player .audio-single li.playing {
    opacity: 1;
}

#home-audio-player .audio-single li.playing:before {
    top: 3px;
    right: 0px;
    width: 15px;
    height: 16px;
    content: url("../images/player/song-small.png");
    position: absolute;
}

#home-audio-player .audio-single .audiojsW .timeW em {
     font-style: normal;
     color: #fff;
     padding: 0px 2px 0px 0px;
     font-size: 11px;

 }

#home-audio-player .audio-single .audiojsW .timeW {
    font-size: 11px;
    margin-top: -4px;
}

#home-audio-player .audio-single .audiojsW .pauseW {
    background: url("../images/player/pause-small.png")  center center no-repeat;
    margin-top: 3px;
    width: 20px;
    height: 20px;
}

#home-audio-player .audio-single .audiojsW .pauseW:hover {
    opacity: 0.5;
}

#home-audio-player .audio-single .audiojsW .playW {
    background: url("../images/player/play-small.png") center center no-repeat;
    margin-top: 3px;
    width: 20px;
    height: 20px;
}

#home-audio-player .audio-single .audiojsW .playW:hover {
    opacity: 0.5;
}

#home-audio-player .audio-single .audiojsW .loadingW {
    background: url("../images/player/load-small.png") center center no-repeat;
    width: 24px;
    height: 32px;
}

/* ---------------------------------------------------------------------- */
/* 17- BLOG LAYOUT
/* ---------------------------------------------------------------------- */
/* GALLERY Post Format*/
.post-flex-slider{
    width: 100%;
    heght: 300px;
    position: relative;
    display: block;
    float: left;
    margin-bottom: 20px;
}

.post-flex-slider .flexslider {
    width: 670px;
    height: 300px;
    overflow: hidden;
    margin: 0;
}

.post-flex-slider ul.flex-direction-nav li a {
    margin-top: -185px;
}

.post-flex-slider .flexslider .slides li {
    margin-left: 0;
    height: 300px;
}

.image-post-format {
    width: 670px;
    height: 300px;
    overflow: hidden;
    margin: 0;
}

.hentry {
    padding: 0 0 10px 0;
    margin:0 0 10px 0;
}

.single .hentry {
    margin-bottom: 0;
}

.entry-body {
   float: left;
   margin: 0;
   width: 670px;
}

.entry-body h2 {
    margin: 20px 0 20px 0;
}

.entry-content {
    width: 670px;
    float: right;
}

ul.flex-direction-nav li{
    list-style-type: none;
}

.post-meta {
    margin: 0;
    width: 670px;
    height: auto;
    display: block;
    position: relative;
    float: left;
}

.page-body {
    width: 100%;
    float: left;
}


.readmore.large a {
    font-size: 18px;
    font-family: "Open Sans", Arial, Verdana;
    font-style: normal;
    padding: 3px 14px 4px 14px;
    -webkit-transition: all 0.2s ease,top 0ms linear;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    float: left;
}

.entry-meta {
    color: #878787;
    float: left;
    margin: 10px 20px 0 0;
    text-align: center;
    width: 125px;
    font-size: 12px;
    line-height: 20px;
}

.entry-meta ul { margin: 0 }
.entry-meta li {
    list-style: none;
    margin: 0;
}

.entry-meta .title { font-weight: bold }
.post-format {
    background-color: #ddd;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: #959393;
    display: inline-block;
    height: 40px;
    margin: 0 0 10px 0;
    text-align: left;
    text-indent: -9999px;
    width: 40px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.post-author {
    background:  no-repeat scroll  0 13px;
    height: auto;
    text-align: left;
    margin: 0 15px 15px 0;
    display: block;
    padding: 0 0 0 17px;
    font-size: 12px;
    float: left;

}

.post-author a{
    color: #959595;
    text-decoration: underline;
}

.post-date {
    background:  no-repeat scroll  0 0;
    height: auto;
    text-align: left;
    margin: 0 15px 15px 0;
    display: block;
    padding: 0 0 0 17px;
    font-size: 12px;
    float: left;
}

.tags {
    background: no-repeat scroll  0 0;
    height: auto;
    text-align: left;
    margin: 0 15px 15px 0;
    display: block;
    padding: 0 0 0 18px;
    font-size: 12px;
    color: #bfbfbf;
    float: left;
}

.tags a{
    color: #959595;
    text-decoration: underline;
}

.user {
    width:20px;
    height:20px;
    display:block;
    text-indent:-9999px;
    float:right;
    margin:0 -5px 0 10px;
}

.comments-link{
    background: no-repeat scroll  0 0;
    height: auto;
    text-align: left;
    margin: 0 15px 15px 0;
    display: block;
    padding: 0 0 0 18px;
    font-size: 12px;
    color: #bfbfbf;
    float: left;
}

.comments-link a{
    color: #959595;
    text-decoration: underline;
}

.post-month {
    display: block;
    color: #959595;
}

.post-day,
.post-year {   display: block }
.post-day {
    font-size: 36px;
    color: #FFF;
    margin: 10px 0 15px 0;
}

.post-year {
    color: #FFF;
    padding: 10px 0 0 0;
}

.post-intro {
    float: left;
    width: 615px;
}

.hentry blockquote {
    background: #141414;
    font: italic 15px/1.6  "Georgia", 'Times', 'Times New Roman', serif;
    padding: 20px 20px 20px 55px;
    border-bottom: 1pt solid #e1e1e1;
    margin: 0 0 20px 0;
    float: left;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

blockquote.alignleft {
    float:left;
    margin:10px 10px 10px 0;
    width:300px;
}

blockquote.alignright {
    float:right;
    margin:10px 0 10px 10px;
    width:300px;
}

.mediaitem { margin: 0 0 20px 0 }

.sidebarBox {
    border-bottom: none;
    margin: 0 0 30px 0;
    padding: 0 0 0 0;
    font-size: 12px;
}

.sidebarBox.last {
    border-bottom: none;
}

.sidebarBox li {
    background: url(../images/simple-nav-arrow.png) no-repeat 0 11px;
    border-bottom: 1px dotted #ced8df;
    list-style: none;
    margin: 0;
    display: block;
    padding: 5px 0 5px 15px;
}

.sidebarBox li:first-child { border-top: 1px dotted #ced8df }
.sidebarBox a { color: #868686; }
.sidebarBox a:hover {    }

img.fb_share_link {
    padding: 0 0 0 0px;
    margin: 0px 5px -10px 0px;
}

#main #pagination { list-style: none; position: relative; margin-top: 0; float: left; }
#pagination { list-style: none;}
#pagination li { display: inline }
#pagination span,
#pagination a {
    display: block;
    float: left;
    padding: 4px 10px;
    margin-right: 7px;
    color: #fff;
    background: #676666;
    opacity: 0.6;
}

.widget_search {
    border-bottom: none;
}

#s {
    background: #FFF url("../images/search-bg.png")  right no-repeat;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    width: 96%;
    padding: 8px 5px;
    color: #acacac;
    -moz-box-shadow: 0 0px 3px #b7b7b7;
    -webkit-box-shadow: 0 0px 3px #b7b7b7;
    box-shadow: 0 0px 3px #b7b7b7;
}

#searchsubmit {
    position: absolute; left: -1000em;
}

.screen-reader-text {
    position: absolute; left: -1000em;
}
.search-place {   margin: 30px 0 }



.author {
    border-bottom: 1px dotted #494848;
    padding:20px;
    margin-bottom: 30px;
    clear: both;
    background: url("../images/block-pattern.png") repeat scroll 0 0 transparent;
}
.author .author-gravatar {
    float:left;
    margin:0 20px 20px 0;
}
.author .author-description {
    font-style: italic;
}



#comments {clear: both; margin: 30px 0;}

.inner-comment {   margin-left: 75px }

.comment  {
    margin-bottom: 10px;
    overflow: hidden;

}
.comment  article {
    position: relative;
}
.comment-author {

    margin-right: 10px;
    padding-bottom: 0;
    margin-top: 10px;

}
.commentlist  ul.children {
    padding-left: 40px;
}
.commentlist .authormeta {
    float: left;
    display: block;
}

.commentlist .comment-author img, .commentlist .comment-author h3, .commentlist .comment-author .datetime {
    float: left;
    line-height: 38px;
    margin: 0 10px 0 0;
    padding: 0;
}

.commentlist .comment-author h3{
    float: left;
    line-height: 0px;
    font-size: 12px;
    padding-bottom: 3px;
    display: block;
    position: relative;
    margin: 0;
}

.commentlist .comment-author .datetime {
    clear: both;
    color: #EBEBEB;
    float: none;
    margin-right: 0;
    display: block;
    margin-top: -10px;
    font-size: 12px;
    float: left;
}

span.datetime  a{
    color: #ACAEAE;
}

.comment-text  {
    border-bottom: 1pt dotted #676666;
    clear: left;
    float: none;
    margin-bottom: 10px;
    white-space: pre-line;
    word-wrap: break-word;
    width: 100%;
    position: relative;
}

.comment-text  p {
    margin-bottom: 0;
    margin-top: -20px;
    display: block;
    clear: both;
}

img.avatar  {
    vertical-align: middle;
}


.comment  cite {
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    margin-right: 5px;
    float: left;
    display: block;
}

.comment-reply-link {
    display: block !important;
    float: left !important;
    font-size: 12px;
    margin-top: 0 !important;
    margin-left:5px;
}

.comment-reply-link:hover {
    text-decoration: underline;
}

strong.reply-line {
    float: left;
    position: relative;
    display: block;
    color: #444444;
}

.reply-link {
    width: auto;
    height: 10px;
    position: relative;
    display: block;
    float: left;
    padding-top: 4px;
}

a.comment-edit-link {
    right: 0;
    position: absolute;
    top: 10px;
}

#respond label {
    font-weight: normal;
    display: normal;
    color: #fff;
    left: 0;
}

.comment-form-comment{
    width: 100%;
    height: auto;
    position: relative;
    float: left;
    text-align: left;
}

#respond  input[type=text],
#respond  input[type=password],
#respond  input[type=email],
#respond  input[type=url],
#respond  input.text,
#respond  input.title,
#respond  textarea,
#respond  select {
    background: url("../images/block-pattern.png") repeat scroll 0 0 transparent;
    border: 1px dotted #494848;
    color: #888888;
    font-size: 12px;
    padding: 4% 0;
    width: 96%;
}

#respond  input[type=text],
#respond  input[type=password],
#respond  input[type=email],
#respond  input.text,
#respond  input.title,
#respond  textarea,
#respond  select {   margin: 5px 0 }
#respond  textarea {
    width: 99%;
    height: 180px;
    padding: 1% 0;
    resize: none;
}

#respond  input[type=submit] { }

#reply-title {
    display: none;
}
.comment-notes {
    display: none;
}

.comment-form-author span {
    visibility: hidden;
}

.comment-form-email span {
    visibility: hidden;
}

#author {
    float: left;
}

#email {
    float: left;
}

input#submit {
    visibility: hidden;
}

/* alignments */
.alignleft, img.alignleft { margin:0 24px 24px 0; display: inline; float: left; }
.alignright, img.alignright { margin-left: 24px; display: inline; float: right; }
.aligncenter, img.aligncenter { margin-right: auto; margin-left: auto; display: block; clear: both; }

/*--------------------------------------*/
/*HOMEPAGE POSTS*/
/*--------------------------------------*/
ul#home-blog-items .entry-content {
    width: 590px;
    float: left;
}

ul#home-blog-items .entry-body {
    float: left;
    margin: 0;
    width: 590px;
}

ul#home-blog-items .image-post-format {
    display: block;
    height: 125px;
    overflow: hidden;
    position: relative;
    width: 205px;
    float: left;
    margin-right: 15px;
}

ul#home-blog-items h2.permalink {
    font-size: 20px;
    font-weight: 300;
    margin: -5px 0 5px 0;
    float: left;
    max-width: 370px;
}

ul#home-blog-items .post-meta {
    display: block;
    float: left;
    height: auto;
    margin: 0;
    position: relative;
    width: 370px;
}

ul#home-blog-items .post-author {
    float: left;
    margin: 0 15px 15px 0;
    padding: 0 0 0 17px;
}

ul#home-blog-items .post-date {
     float: left;
     margin: 0 15px 15px 0;
}

ul#home-blog-items .tags {
    float: left;
    margin: 0 15px 15px 0;
}

ul#home-blog-items .comments-link {
    float: left;
    margin: 0 0 15px 0;
}

ul#home-blog-items p {
    float: left;
}

ul#home-blog-items .excerpt{
    width: 370px;
    position: relative;
    float: left;
    display: block;
    height: auto;
}

ul#home-blog-items article {
    margin: 0;
    padding: 0;
}
/*--Slider-Post-Type--*/

ul#home-blog-items .post-flex-slider {
    display: block;
    float: left;
    margin: 0 15px 0 0;
    position: relative;
    overflow: hidden;
    width: 205px;


}

ul#home-blog-items .post-flex-slider .flexslider {
    height: 125px;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 205px;
}

ul#home-blog-items .post-flex-slider .flexslider .slides li{
    margin-left: 0;
    height: 125px;
}

ul#home-blog-items .post-flex-slider ul.flex-direction-nav li a {
    margin-top: -82px;
}

ul#home-blog-items  .flex-direction-nav li a.next,
ul#home-blog-items  .flex-direction-nav li a.prev {
    background: url("../images/prev-arrow-small.png") no-repeat scroll 0 0 rgba(22, 22, 22, 0.6);
    margin-left: 0;
    color: transparent;
    height: 38px;
    line-height: 20px;
    padding: 0;
    text-align: center;
    transition: all 0.3s linear 0s;
    width: 25px;
}

ul#home-blog-items  .flex-direction-nav li a.next {
    background: url("../images/next-arrow-small.png") no-repeat scroll 0 0 rgba(22, 22, 22, 0.6);
}

/*--------------------------------------*/
/*FLICKR WIDGET
/*--------------------------------------*/

.flickr_badge_image {
    margin: 0 13px 13px 0;
    -moz-transition:.1s ease-in;
    -o-transition: .1s ease-in;
    -webkit-transition: .1s ease-in;
    transition: .1s ease-in;
    float: left;
}

.flickr_badge_image img{
    width: 60px;
    height: 60px;
}
.flickr_badge_image:hover {
    opacity: 0.6;
}

/* ---------------------------------------------------------------------- */
/* 18- OTHER FEATURES LAYOUT
/* ---------------------------------------------------------------------- */
.title-border{
    background: url("../images/title-border.png") repeat;
    height: 3px;
    position: relative;
    width: 100%;
    margin: -15px 0 15px 0;
}

.title-block{
    height: 3px;
    width: 60px;
    float: left;
}
.not-found-text {
    text-align: center;
    font-size: 100px;
    line-height: 100px;
    margin-bottom: 50px;
    margin-top: 50px;
    padding-bottom: 30px;
}

.resize img {
    max-width: 100%;
    max-height: 100%;
}
video {
    width: 100%;
    height: auto;
}

#contact-map {
    margin-left: 0;
    width: auto;
    max-height: 100%;
    margin-bottom: 30px;
}

#contact-map iframe {
   width:100%;
}

blockquote,
q { quotes: none }
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

blockquote {
    padding: 0px 10px 0px 35px;
    line-height: 24px;
    background-position:  0% 10% ;
    background-repeat: no-repeat;
    color: #999999;
}

blockquote span { color: #666666 }

.button-holder-2 {
    float: right;
    margin-top: 5px;
}

pre,
code {
    border: 1px solid #444444;
    border-left: 5px solid #444444;
    width: 96%;
    margin-bottom: 20px;
    padding: 2%;
    font-size: 11px;
    display: inline-block;
    background-color: #141414;
}

.pdf {
    /*background: url(../images/icons/pdf-icon.png) no-repeat 5px 12px;*/
    padding: 15px 10px 10px 65px;
    width: 125px;
    min-height: 48px;
}

.skype-call {
    /*background: url(../images/icons/skype-icon.png) no-repeat 5px 12px;*/
    padding: 15px 10px 10px 65px;
    width: 125px;
    min-height: 48px;
}

#map {
    height: 275px;
    margin: 0px 0 30px -40px;
    position: relative;
    width: 1020px;
}

#map:before,
#map:after {
    background: none;
    -webkit-box-shadow: 0 0 5px 2px rgba(54, 55, 54, 0.1);
    -moz-box-shadow: 0 0 5px 2px rgba(54, 55, 54, 0.1);
    box-shadow: 0 0 5px 2px rgba(54, 55, 54, 0.1);
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#map:after {
    bottom: 0;
    top: auto;
}

ul.buttons li {
    display: list;
    margin: 25px 0;
}

.inner-page-intro {
    width: 100%;
    height: auto;
    float: left;
    padding: 0px 0;
    margin-bottom: 30px;
    border-bottom: 1pt solid #e1e1e1;
}

.add-widget {
    sssbackground: url("../../lib/shortcodes/images/lists/addlist.png")left center no-repeat;
    background:url("../images/plus.png") left center no-repeat;
    padding: 2px 2px 2px 13px;
    font-weight: bold;
    display: block;
    margin-top: 20px;
}

.help {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #eee;
    padding:20px;
}

.help p {
    margin-bottom: 0;
}

.space {
    position: relative;
    display: block;
    height: 20px;
    width: 100%
}
h3.title-margin{
    padding-bottom: 5px;
}

.sound-cloud-widget{
    width: 100%;
    position: relative;
    display: block;
    float: left;
    text-align: left;
}

.pp_social .facebook{ background: none; }
/*---------------------------------------------------------------------------
Events Style
----------------------------------------------------------------------------*/
ul#event-items .event-date{
    color: #fff;
    text-align: center;
    padding: 5px;
    width: auto;
    float: left;
    margin-right: 15px;
}

ul#event-items li.three-fourth-block{
    position: relative;
}

ul#event-items li.two-third-block{
    position: relative;
}

ul#event-items .event-date strong{
    clear: both;
    width: 100%;
    float: none;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

ul#event-items .event-venue{
    width: 300px;
    background: url("../images/venue-icon.png") no-repeat left;
    text-align: left;
    padding: 0 0 0 20px;
    float: left;

}

ul#event-items .event-time{
    width: 300px;
    background: url("../images/time-icon.png") no-repeat left;
    text-align: left;
    padding: 0 0 0 20px;
    float: left;
}

ul#event-items .ticket-button {
    right: 15px;
    margin-top: -16px;
    position: absolute;
}

ul#event-items .ticket-button .event-ticket a{
    float: right;
    color: #FFFFFF !important;
    display: block;
    float: left;
    height: auto;
    margin: 0;
    padding: 7px 14px;
    position: relative;
    transition: all 0.3s ease 0s;
    width: auto;
    z-index: 100;
}

ul#event-items .ticket-button .event-ticket a:hover{
    background: #565656;
}

ul#event-items .ticket-button .event-cancel-out p{
    float: right;
    color: #FFFFFF !important;
    display: block;
    float: left;
    height: auto;
    margin: 0;
    padding: 7px 14px;
    position: relative;
    transition: all 0.3s ease 0s;
    width: auto;
    z-index: 100;
    background-color: #565656;
    opacity: 0.6;
}

ul#event-items .ticket-button .event-cancel-out p:hover{
    opacity: 1;
}

/*--------Single Event----------*/
.event-single ul#event-items .event-date{
    color: #fff;
    text-align: center;
    padding: 20px 5px 20px 5px;
    width: auto;
    float: left;
    margin-right: 15px;
}

.event-single ul#event-items .event-location{
    width: 300px;
    background: url("../images/venue-icon.png") no-repeat left;
    text-align: left;
    padding: 0 0 0 20px;
    float: left;
    margin-bottom: 5px;
}

.event-single ul#event-items .event-venue{
    width: 300px;
    background: url("../images/venue-icon.png") no-repeat left;
    text-align: left;
    padding: 0 0 0 20px;
    float: left;
    margin-bottom: 5px;
}

.event-single ul#event-items .ticket-button {
    right: 15px;
    margin-top: -2px;
    position: absolute;
}

/*---------------------------------------------------------------------------
Home Events Style
----------------------------------------------------------------------------*/
ul#home-event-items .event-date{
    color: #fff;
    text-align: center;
    padding: 10px 5px 10px 5px;
    width: auto;
    float: left;
    margin-right: 15px;
}

ul#home-event-items li.event-home-item{
    position: relative;
    border-top: 1pt dotted #676666;
    width: 270px;
    height: auto;
    float: left;
    position: relative;
    padding: 14px 0 14px 0;
}

ul#home-event-items li.event-home-item:first-child{
    border-top: none;
    padding: 0 0 14px 0;
}

ul#home-event-items li.event-home-item:last-child{
    padding: 14px 0 0 0;
}

ul#home-event-items .event-date strong{
    clear: both;
    width: 100%;
    float: none;
    padding: 25px 5px 25px 5px;
    margin-bottom: 10px;
    font-size: 18px;
}

ul#home-event-items .event-venue{
    width: 170px;
    background: url("../images/venue-icon.png") no-repeat left;
    text-align: left;
    padding: 0 0 0 20px;
    float: left;
    margin-top: -8px;

}

ul#home-event-items .ticket-button {
    position: relative;
    float: left;
}

ul#home-event-items .ticket-button .event-ticket a{
    float: right;
    color: #FFFFFF !important;
    display: block;
    float: left;
    height: auto;
    margin: 9px 0 0 0;
    padding: 5px 10px;
    position: relative;
    transition: all 0.3s ease 0s;
    width: auto;
    z-index: 100;
}

ul#home-event-items .ticket-button .event-ticket a:hover{
    background: #565656;
}

ul#home-event-items .ticket-button .event-cancel-out p{
    float: right;
    color: #FFFFFF !important;
    display: block;
    float: left;
    height: auto;
    margin: 9px 0 0 0;
    padding: 5px 10px;
    position: relative;
    transition: all 0.3s ease 0s;
    width: auto;
    z-index: 100;
    background-color: #565656;
    opacity: 0.6;
}

ul#home-event-items .ticket-button .event-cancel-out p:hover{
    opacity: 1;
}