/******************************************************************
Theme Name: K-BOOM
Theme URI: http://themeforest.net/item/kboom-responsive-events-music-wordpress-theme/4095577
Description: K-BOOM EVENTS AND MUSIC RESPONSIVE WORDPRESS THEME
Author: Andrei Holobut
Author URI: http://themeforest.net/user/holobest
Version: 1.0.9

******************************************************************/

@import url("library/css/main-css.css");
@import url("library/css/768.css");
@import url("library/css/320.css");
@import url("library/css/480.css");


/**** MARKS EDITS ****/

#full-width-slider {
	display: none !important;
}


#search-wrapper-right {
	display: none;
}

#home-content .one-third, #home-content .one-third.last  {
		margin-top: 90px;
		min-height: 410px;
}

#home-content .one-third:hover {
margin-top: -5px;
-webkit-transition: .3s;
-moz-transition: .3s;
-o-transition: .3s;
transition: .3s;
}

.home .one-third{
	width: 460px;}

.home .two-third{
	width: 460px;
}

.home ul#home-event-items li.event-home-item {
width: 427px;}

.home ul#home-event-items .event-date {
margin-bottom: 20px;}


.home ul#home-event-items .ticket-button {
float: right;
}

.one-fourth.widget-1, .one-fourth.widget-5, .one-fourth.widget-9 {
clear: both;
font-size: 2.5em !important;
}